@font-face {
    font-family: macicons;
    src: url("./macicons.eot");
    src: url("./macicons.eot?#iefix") format("embedded-opentype"), url("./macicons.woff2") format("woff2"), url("./macicons.woff") format("woff"), url("./macicons.ttf") format("truetype"), url("./macicons.svg#macicons") format("svg");
    font-style: normal;
    font-weight: 400;
}

.macicons {
    display: inline-block;
    transform: translate(0, 0);
    text-rendering: auto;
    font: normal normal 400 14px/1 macicons;
    font-size: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.macicons-lg {
    vertical-align: -15%;
    line-height: 0.75em;
    font-size: 1.33333333em;
}

.macicons-2x {
    font-size: 2em;
}

.macicons-3x {
    font-size: 3em;
}

.macicons-4x {
    font-size: 4em;
}

.macicons-5x {
    font-size: 5em;
}

.macicons-fw {
    width: 1.28571429em;
    text-align: center;
}

.macicons-3d-stairs::before {
    content: "\ea01";
}

.macicons-achilles-heel::before {
    content: "\ea02";
}

.macicons-acorn::before {
    content: "\ea04";
}

.macicons-ages::before {
    content: "\ea03";
}

.macicons-air-zigzag::before {
    content: "\ea05";
}

.macicons-alien-fire::before {
    content: "\ea07";
}

.macicons-all-for-one::before {
    content: "\ea06";
}

.macicons-all-seeing-eye::before {
    content: "\ea08";
}

.macicons-alligator-clip::before {
    content: "\ea09";
}

.macicons-amplitude::before {
    content: "\ea0a";
}

.macicons-anarchy::before {
    content: "\ea0b";
}

.macicons-ancient-sword::before {
    content: "\ea0c";
}

.macicons-angel-outfit::before {
    content: "\ea0e";
}

.macicons-angry-eyes::before {
    content: "\ea0d";
}

.macicons-ankh::before {
    content: "\ea0f";
}

.macicons-anvil-impact::before {
    content: "\ea10";
}

.macicons-anvil::before {
    content: "\ea12";
}

.macicons-apothecary::before {
    content: "\ea11";
}

.macicons-archer::before {
    content: "\ea13";
}

.macicons-arcing-bolt::before {
    content: "\ea14";
}

.macicons-armor-vest::before {
    content: "\ea15";
}

.macicons-arrow-cluster::before {
    content: "\ea16";
}

.macicons-arrow-flights::before {
    content: "\ea17";
}

.macicons-arrow-scope::before {
    content: "\ea18";
}

.macicons-arrowed::before {
    content: "\ea19";
}

.macicons-arrows-shield::before {
    content: "\ea1a";
}

.macicons-artificial-hive::before {
    content: "\ea1b";
}

.macicons-artillery-shell::before {
    content: "\ea1c";
}

.macicons-assassin-pocket::before {
    content: "\ea1d";
}

.macicons-astronaut-helmet::before {
    content: "\ea1e";
}

.macicons-at-sea::before {
    content: "\ea1f";
}

.macicons-atlas::before {
    content: "\ea20";
}

.macicons-atomic-slashes::before {
    content: "\ea21";
}

.macicons-attached-shield::before {
    content: "\ea22";
}

.macicons-aura::before {
    content: "\ea23";
}

.macicons-auto-repair::before {
    content: "\ea24";
}

.macicons-autogun::before {
    content: "\ea25";
}

.macicons-awareness::before {
    content: "\ea26";
}

.macicons-axe-in-stump::before {
    content: "\ea27";
}

.macicons-axe-swing::before {
    content: "\ea28";
}

.macicons-back-forth::before {
    content: "\ea29";
}

.macicons-back-pain::before {
    content: "\ea2a";
}

.macicons-backstab::before {
    content: "\ea2b";
}

.macicons-backup::before {
    content: "\ea2c";
}

.macicons-ball-glow::before {
    content: "\ea2d";
}

.macicons-ballista::before {
    content: "\ea2e";
}

.macicons-bandage-roll::before {
    content: "\ea2f";
}

.macicons-banging-gavel::before {
    content: "\ea30";
}

.macicons-barbarian::before {
    content: "\ea31";
}

.macicons-barbed-arrow::before {
    content: "\ea32";
}

.macicons-barbed-coil::before {
    content: "\ea33";
}

.macicons-barbed-nails::before {
    content: "\ea34";
}

.macicons-barbed-spear::before {
    content: "\ea35";
}

.macicons-barbed-star::before {
    content: "\ea36";
}

.macicons-barbed-sun::before {
    content: "\ea37";
}

.macicons-barbed-wire::before {
    content: "\ea38";
}

.macicons-barbute::before {
    content: "\ea39";
}

.macicons-baseball-bat::before {
    content: "\ea3a";
}

.macicons-bat-blade::before {
    content: "\ea3b";
}

.macicons-baton::before {
    content: "\ea3c";
}

.macicons-battered-axe::before {
    content: "\ea3d";
}

.macicons-battle-axe::before {
    content: "\ea3e";
}

.macicons-battle-gear::before {
    content: "\ea3f";
}

.macicons-bayonet::before {
    content: "\ea40";
}

.macicons-beam-wake::before {
    content: "\ea41";
}

.macicons-beams-aura::before {
    content: "\ea42";
}

.macicons-beard::before {
    content: "\ea43";
}

.macicons-bell-shield::before {
    content: "\ea44";
}

.macicons-beveled-star::before {
    content: "\ea45";
}

.macicons-biceps::before {
    content: "\ea46";
}

.macicons-big-wave::before {
    content: "\ea47";
}

.macicons-biohazard::before {
    content: "\ea48";
}

.macicons-bird-claw::before {
    content: "\ea49";
}

.macicons-black-bar::before {
    content: "\ea4b";
}

.macicons-black-belt::before {
    content: "\ea4a";
}

.macicons-black-book::before {
    content: "\ea4c";
}

.macicons-black-hand-shield::before {
    content: "\ea4d";
}

.macicons-black-hole-bolas::before {
    content: "\ea4e";
}

.macicons-blackball::before {
    content: "\ea4f";
}

.macicons-blackcurrant::before {
    content: "\ea50";
}

.macicons-blacksmith::before {
    content: "\ea51";
}

.macicons-blade-bite::before {
    content: "\ea52";
}

.macicons-blade-drag::before {
    content: "\ea53";
}

.macicons-blade-fall::before {
    content: "\ea54";
}

.macicons-blast::before {
    content: "\ea55";
}

.macicons-bleeding-eye::before {
    content: "\ea56";
}

.macicons-bleeding-heart::before {
    content: "\ea57";
}

.macicons-bleeding-wound::before {
    content: "\ea58";
}

.macicons-blindfold::before {
    content: "\ea5a";
}

.macicons-bloody-sword::before {
    content: "\ea59";
}

.macicons-blunderbuss::before {
    content: "\ea5b";
}

.macicons-bo::before {
    content: "\ea5c";
}

.macicons-body-swapping::before {
    content: "\ea5d";
}

.macicons-bolas::before {
    content: "\ea5f";
}

.macicons-bolt-eye::before {
    content: "\ea5e";
}

.macicons-bolt-shield::before {
    content: "\ea60";
}

.macicons-bolt-spell-cast::before {
    content: "\ea61";
}

.macicons-bone-knife::before {
    content: "\ea62";
}

.macicons-book-aura::before {
    content: "\ea63";
}

.macicons-book-cover-2::before {
    content: "\ea64";
}

.macicons-book-cover::before {
    content: "\ea65";
}

.macicons-book-storm::before {
    content: "\ea66";
}

.macicons-bookmarklet::before {
    content: "\ea67";
}

.macicons-boomerang-sun::before {
    content: "\ea68";
}

.macicons-boomerang::before {
    content: "\ea69";
}

.macicons-bordered-shield::before {
    content: "\ea6a";
}

.macicons-boss-key::before {
    content: "\ea6b";
}

.macicons-bottle-vapors::before {
    content: "\ea6c";
}

.macicons-bouncing-sword::before {
    content: "\ea6d";
}

.macicons-bowie-knife-2::before {
    content: "\ea6e";
}

.macicons-bowie-knife::before {
    content: "\ea6f";
}

.macicons-bowman::before {
    content: "\ea70";
}

.macicons-bracers::before {
    content: "\ea71";
}

.macicons-brain-freeze::before {
    content: "\ea72";
}

.macicons-brain::before {
    content: "\ea73";
}

.macicons-brainstorm::before {
    content: "\ea74";
}

.macicons-branch-arrow::before {
    content: "\ea75";
}

.macicons-brandy-bottle::before {
    content: "\ea76";
}

.macicons-brass-eye::before {
    content: "\ea77";
}

.macicons-brass-knuckles::before {
    content: "\ea78";
}

.macicons-breaking-chain::before {
    content: "\ea79";
}

.macicons-broad-dagger::before {
    content: "\ea7a";
}

.macicons-broadhead-arrow::before {
    content: "\ea7b";
}

.macicons-broadsword::before {
    content: "\ea7c";
}

.macicons-broken-bottle::before {
    content: "\ea7d";
}

.macicons-broken-heart-zone::before {
    content: "\ea7e";
}

.macicons-broken-heart::before {
    content: "\ea7f";
}

.macicons-broken-shield::before {
    content: "\ea80";
}

.macicons-broken-skull::before {
    content: "\ea81";
}

.macicons-broom::before {
    content: "\ea82";
}

.macicons-bubbles::before {
    content: "\ea83";
}

.macicons-bubbling-beam::before {
    content: "\ea84";
}

.macicons-bubbling-flask::before {
    content: "\ea85";
}

.macicons-bullets::before {
    content: "\ea86";
}

.macicons-bullseye::before {
    content: "\ea87";
}

.macicons-bully-minion::before {
    content: "\ea88";
}

.macicons-burning-blobs::before {
    content: "\ea89";
}

.macicons-burning-book::before {
    content: "\ea8a";
}

.macicons-burning-dot::before {
    content: "\ea8b";
}

.macicons-burning-embers::before {
    content: "\ea8c";
}

.macicons-burning-eye::before {
    content: "\ea8d";
}

.macicons-burning-meteor::before {
    content: "\ea8e";
}

.macicons-burning-passion::before {
    content: "\ea8f";
}

.macicons-burning-round-shot::before {
    content: "\ea90";
}

.macicons-burning-skull::before {
    content: "\ea91";
}

.macicons-burning-tree::before {
    content: "\ea92";
}

.macicons-burst-blob::before {
    content: "\ea93";
}

.macicons-butterfly-knife::before {
    content: "\ea94";
}

.macicons-buy-card::before {
    content: "\ea95";
}

.macicons-caesar::before {
    content: "\ea96";
}

.macicons-campfire::before {
    content: "\ea97";
}

.macicons-candle-holder::before {
    content: "\ea98";
}

.macicons-candle-light::before {
    content: "\ea99";
}

.macicons-candles::before {
    content: "\ea9a";
}

.macicons-cannon-ball::before {
    content: "\ea9b";
}

.macicons-cannon-shot::before {
    content: "\ea9c";
}

.macicons-carrot::before {
    content: "\ea9d";
}

.macicons-cash::before {
    content: "\ea9e";
}

.macicons-castle-2::before {
    content: "\ea9f";
}

.macicons-cauldron-2::before {
    content: "\eaa0";
}

.macicons-cauldron::before {
    content: "\eaa1";
}

.macicons-celebration-fire::before {
    content: "\eaa2";
}

.macicons-chain-lightning::before {
    content: "\eaa3";
}

.macicons-chained-heart::before {
    content: "\eaa4";
}

.macicons-chalice-drops::before {
    content: "\eaa5";
}

.macicons-charged-arrow::before {
    content: "\eaa6";
}

.macicons-checkered-diamond::before {
    content: "\eaa7";
}

.macicons-checklist::before {
    content: "\eaa8";
}

.macicons-cheerful::before {
    content: "\eaa9";
}

.macicons-chemical-arrow::before {
    content: "\eaaa";
}

.macicons-chemical-bolt::before {
    content: "\eaab";
}

.macicons-chemical-drop::before {
    content: "\eaac";
}

.macicons-chest-armor::before {
    content: "\eaad";
}

.macicons-chest::before {
    content: "\eaae";
}

.macicons-circle-sparks::before {
    content: "\eaaf";
}

.macicons-cloak-dagger::before {
    content: "\eab0";
}

.macicons-clockwork::before {
    content: "\eab1";
}

.macicons-closed-doors::before {
    content: "\eab2";
}

.macicons-cloud-ring::before {
    content: "\eab3";
}

.macicons-clover::before {
    content: "\eab4";
}

.macicons-coins::before {
    content: "\eab5";
}

.macicons-cold-heart::before {
    content: "\eab6";
}

.macicons-comet-spark::before {
    content: "\eab7";
}

.macicons-compass::before {
    content: "\eab8";
}

.macicons-concentration-orb::before {
    content: "\eab9";
}

.macicons-conqueror::before {
    content: "\eaba";
}

.macicons-corner-explosion::before {
    content: "\eabb";
}

.macicons-cracked-disc::before {
    content: "\eabc";
}

.macicons-cracked-helm::before {
    content: "\eabd";
}

.macicons-cracked-shield::before {
    content: "\eabe";
}

.macicons-crescent-blade-2::before {
    content: "\eabf";
}

.macicons-crescent-blade::before {
    content: "\eac0";
}

.macicons-croc-sword::before {
    content: "\eac1";
}

.macicons-cross-mark::before {
    content: "\eac2";
}

.macicons-cross-shield::before {
    content: "\eac3";
}

.macicons-crossbow::before {
    content: "\eac4";
}

.macicons-crossed-axes::before {
    content: "\eac5";
}

.macicons-crossed-sabres::before {
    content: "\eac6";
}

.macicons-crossed-swords::before {
    content: "\eac7";
}

.macicons-crosshair-arrow::before {
    content: "\eac8";
}

.macicons-crown-of-thorns::before {
    content: "\eac9";
}

.macicons-crown::before {
    content: "\eaca";
}

.macicons-crowned-heart::before {
    content: "\eacb";
}

.macicons-crumbling-ball::before {
    content: "\eacc";
}

.macicons-crystal-ball::before {
    content: "\eacd";
}

.macicons-crystal-bars::before {
    content: "\eace";
}

.macicons-crystal-cluster::before {
    content: "\eacf";
}

.macicons-crystal-eye::before {
    content: "\ead0";
}

.macicons-crystal-growth::before {
    content: "\ead1";
}

.macicons-crystal-shine::before {
    content: "\ead2";
}

.macicons-crystal-wand::before {
    content: "\ead3";
}

.macicons-crystalize::before {
    content: "\ead4";
}

.macicons-cubes::before {
    content: "\ead5";
}

.macicons-curled-tentacle::before {
    content: "\ead6";
}

.macicons-curling-vines::before {
    content: "\ead7";
}

.macicons-cursed-star::before {
    content: "\ead8";
}

.macicons-curvy-knife::before {
    content: "\ead9";
}

.macicons-cut-diamond::before {
    content: "\eada";
}

.macicons-cut-palm::before {
    content: "\eadb";
}

.macicons-dagger-rose::before {
    content: "\eadc";
}

.macicons-daggers::before {
    content: "\eadd";
}

.macicons-dark-squad::before {
    content: "\eade";
}

.macicons-dart::before {
    content: "\eadf";
}

.macicons-dead-eye::before {
    content: "\eae0";
}

.macicons-dead-wood::before {
    content: "\eae1";
}

.macicons-deadly-strike::before {
    content: "\eae2";
}

.macicons-death-juice::before {
    content: "\eae3";
}

.macicons-death-note::before {
    content: "\eae4";
}

.macicons-death-zone::before {
    content: "\eae5";
}

.macicons-decapitation::before {
    content: "\eae6";
}

.macicons-defense-satellite::before {
    content: "\eae7";
}

.macicons-defibrilate::before {
    content: "\eae8";
}

.macicons-dervish-swords::before {
    content: "\eae9";
}

.macicons-desert::before {
    content: "\eaea";
}

.macicons-despair::before {
    content: "\eaeb";
}

.macicons-dew::before {
    content: "\eaec";
}

.macicons-diamond-hard::before {
    content: "\eaed";
}

.macicons-dig-dug::before {
    content: "\eaee";
}

.macicons-digital-trace::before {
    content: "\eaf0";
}

.macicons-diving-dagger::before {
    content: "\eaef";
}

.macicons-dna1::before {
    content: "\eaf2";
}

.macicons-dna2::before {
    content: "\eaf1";
}

.macicons-dodging::before {
    content: "\eaf3";
}

.macicons-double-ringed-orb::before {
    content: "\eaf4";
}

.macicons-double-shot::before {
    content: "\eaf5";
}

.macicons-dove::before {
    content: "\eaf6";
}

.macicons-dragon-breath::before {
    content: "\eaf7";
}

.macicons-dragon-spiral::before {
    content: "\eaf8";
}

.macicons-drakkar::before {
    content: "\eaf9";
}

.macicons-drink-me::before {
    content: "\eafa";
}

.macicons-dripping-blade::before {
    content: "\eafb";
}

.macicons-dripping-goo::before {
    content: "\eafc";
}

.macicons-dripping-knife::before {
    content: "\eafd";
}

.macicons-dripping-sword::before {
    content: "\eafe";
}

.macicons-drop-weapon::before {
    content: "\eaff";
}

.macicons-drop::before {
    content: "\eb00";
}

.macicons-droplet-splash::before {
    content: "\eb01";
}

.macicons-droplets::before {
    content: "\eb02";
}

.macicons-drowning::before {
    content: "\eb03";
}

.macicons-duality::before {
    content: "\eb04";
}

.macicons-dust-cloud::before {
    content: "\eb05";
}

.macicons-eagle-emblem::before {
    content: "\eb06";
}

.macicons-earth-crack::before {
    content: "\eb07";
}

.macicons-earth-spit::before {
    content: "\eb08";
}

.macicons-echo-ripples::before {
    content: "\eb09";
}

.macicons-eclipse-flare::before {
    content: "\eb0a";
}

.macicons-eclipse-saw::before {
    content: "\eb0b";
}

.macicons-eclipse::before {
    content: "\eb0c";
}

.macicons-edged-shield::before {
    content: "\eb0d";
}

.macicons-egg-defense::before {
    content: "\eb0e";
}

.macicons-elderberry::before {
    content: "\eb0f";
}

.macicons-electric-whip::before {
    content: "\eb10";
}

.macicons-electric::before {
    content: "\eb11";
}

.macicons-electrical-crescent::before {
    content: "\eb12";
}

.macicons-ember-shot::before {
    content: "\eb13";
}

.macicons-embrassed-energy::before {
    content: "\eb14";
}

.macicons-emerald::before {
    content: "\eb15";
}

.macicons-empty-hourglass::before {
    content: "\eb16";
}

.macicons-energy-arrow::before {
    content: "\eb17";
}

.macicons-energy-breath::before {
    content: "\eb18";
}

.macicons-energy-shield::before {
    content: "\eb19";
}

.macicons-energy-sword::before {
    content: "\eb1a";
}

.macicons-enlightenment::before {
    content: "\eb1c";
}

.macicons-enrage::before {
    content: "\eb1b";
}

.macicons-eruption::before {
    content: "\eb1d";
}

.macicons-evil-bat::before {
    content: "\eb1e";
}

.macicons-evil-wings::before {
    content: "\eb20";
}

.macicons-expense::before {
    content: "\eb1f";
}

.macicons-explosion-rays::before {
    content: "\eb21";
}

.macicons-explosive-materials::before {
    content: "\eb22";
}

.macicons-explosive-meeting::before {
    content: "\eb23";
}

.macicons-extra-lucid::before {
    content: "\eb24";
}

.macicons-extraction-orb::before {
    content: "\eb25";
}

.macicons-eye-shield::before {
    content: "\eb26";
}

.macicons-eye-target::before {
    content: "\eb27";
}

.macicons-eyedropper::before {
    content: "\eb28";
}

.macicons-fairy-wand::before {
    content: "\eb29";
}

.macicons-fall-down::before {
    content: "\eb2a";
}

.macicons-falling-blob::before {
    content: "\eb2b";
}

.macicons-falling-boulder::before {
    content: "\eb2c";
}

.macicons-falling-eye::before {
    content: "\eb2d";
}

.macicons-falling-leaf::before {
    content: "\eb2e";
}

.macicons-falling-ovoid::before {
    content: "\eb2f";
}

.macicons-falling-rocks::before {
    content: "\eb30";
}

.macicons-fangs::before {
    content: "\eb31";
}

.macicons-fast-arrow::before {
    content: "\eb32";
}

.macicons-fire-bomb::before {
    content: "\eb33";
}

.macicons-fire-bottle::before {
    content: "\eb34";
}

.macicons-fire-bowl::before {
    content: "\eb35";
}

.macicons-fire-breath::before {
    content: "\eb36";
}

.macicons-fire-dash::before {
    content: "\eb37";
}

.macicons-fire-punch::before {
    content: "\eb38";
}

.macicons-fire-ray::before {
    content: "\eb39";
}

.macicons-fire-ring::before {
    content: "\eb3a";
}

.macicons-fire-shield::before {
    content: "\eb3b";
}

.macicons-fire-silhouette::before {
    content: "\eb3c";
}

.macicons-fire-tail::before {
    content: "\eb3d";
}

.macicons-fire-wave::before {
    content: "\eb3e";
}

.macicons-fire-zone::before {
    content: "\eb3f";
}

.macicons-fire::before {
    content: "\eb40";
}

.macicons-fireflake::before {
    content: "\eb41";
}

.macicons-fist::before {
    content: "\eb42";
}

.macicons-fizzing-flask::before {
    content: "\eb43";
}

.macicons-flail::before {
    content: "\eb44";
}

.macicons-flame-claws::before {
    content: "\eb45";
}

.macicons-flame-spin::before {
    content: "\eb46";
}

.macicons-flame-tunnel::before {
    content: "\eb47";
}

.macicons-flame::before {
    content: "\eb48";
}

.macicons-flaming-arrow::before {
    content: "\eb49";
}

.macicons-flaming-claw::before {
    content: "\eb4b";
}

.macicons-flaming-sheet::before {
    content: "\eb4a";
}

.macicons-flaming-trident::before {
    content: "\eb4c";
}

.macicons-flanged-mace::before {
    content: "\eb4d";
}

.macicons-flat-hammer::before {
    content: "\eb4e";
}

.macicons-flat-star::before {
    content: "\eb4f";
}

.macicons-fluffy-cloud::before {
    content: "\eb50";
}

.macicons-fluffy-swirl::before {
    content: "\eb51";
}

.macicons-fluffy-trefoil::before {
    content: "\eb52";
}

.macicons-fluffy-wing::before {
    content: "\eb53";
}

.macicons-flying-dagger::before {
    content: "\eb54";
}

.macicons-foam::before {
    content: "\eb55";
}

.macicons-foamy-disc::before {
    content: "\eb56";
}

.macicons-focused-lightning::before {
    content: "\eb57";
}

.macicons-fragmented-meteor::before {
    content: "\eb58";
}

.macicons-fragmented-sword::before {
    content: "\eb59";
}

.macicons-frostfire::before {
    content: "\eb5a";
}

.macicons-frozen-arrow::before {
    content: "\eb5b";
}

.macicons-frozen-block::before {
    content: "\eb5c";
}

.macicons-frozen-orb::before {
    content: "\eb5d";
}

.macicons-gavel::before {
    content: "\eb5e";
}

.macicons-gem-chain::before {
    content: "\eb5f";
}

.macicons-ghost-ally::before {
    content: "\eb60";
}

.macicons-ghost::before {
    content: "\eb61";
}

.macicons-gift-of-knowledge::before {
    content: "\eb62";
}

.macicons-gift-trap::before {
    content: "\eb63";
}

.macicons-gladius::before {
    content: "\eb64";
}

.macicons-glass-heart::before {
    content: "\eb65";
}

.macicons-glowing-hands::before {
    content: "\eb66";
}

.macicons-goo-explosion::before {
    content: "\eb67";
}

.macicons-goo-spurt::before {
    content: "\eb68";
}

.macicons-gooey-eyed-sun::before {
    content: "\eb69";
}

.macicons-gooey-impact::before {
    content: "\eb6a";
}

.macicons-gooey-molecule::before {
    content: "\eb6b";
}

.macicons-gooey-sword::before {
    content: "\eb6c";
}

.macicons-grab::before {
    content: "\eb6d";
}

.macicons-grapple::before {
    content: "\eb6e";
}

.macicons-greaves::before {
    content: "\eb6f";
}

.macicons-grenade::before {
    content: "\eb70";
}

.macicons-guitar::before {
    content: "\eb71";
}

.macicons-halberd::before {
    content: "\eb72";
}

.macicons-hammer-drop::before {
    content: "\eb73";
}

.macicons-hand::before {
    content: "\eb74";
}

.macicons-harpoon-chain::before {
    content: "\eb75";
}

.macicons-health-decrease::before {
    content: "\eb76";
}

.macicons-health-increase::before {
    content: "\eb77";
}

.macicons-heart-beats::before {
    content: "\eb78";
}

.macicons-heart-bottle::before {
    content: "\eb79";
}

.macicons-heartburn::before {
    content: "\eb7b";
}

.macicons-heat-haze::before {
    content: "\eb7a";
}

.macicons-heavy-arrow::before {
    content: "\eb7c";
}

.macicons-heavy-fall::before {
    content: "\eb7d";
}

.macicons-heavy-lightning::before {
    content: "\eb7f";
}

.macicons-heavy-rain::before {
    content: "\eb7e";
}

.macicons-heavy-thorny-triskelion::before {
    content: "\eb80";
}

.macicons-helmet-head-shot::before {
    content: "\eb81";
}

.macicons-heptagram::before {
    content: "\eb82";
}

.macicons-hidden::before {
    content: "\eb83";
}

.macicons-high-shot::before {
    content: "\eb84";
}

.macicons-holy-grail::before {
    content: "\eb85";
}

.macicons-holy-oak::before {
    content: "\eb86";
}

.macicons-hood::before {
    content: "\eb87";
}

.macicons-hooded-assassin::before {
    content: "\eb88";
}

.macicons-hooded-figure::before {
    content: "\eb89";
}

.macicons-hunting-horn::before {
    content: "\eb8a";
}

.macicons-hypersonic-bolt::before {
    content: "\eb8c";
}

.macicons-hypersonic-melon::before {
    content: "\eb8b";
}

.macicons-icarus::before {
    content: "\eb8d";
}

.macicons-ice-bolt::before {
    content: "\eb8e";
}

.macicons-ice-bomb::before {
    content: "\eb8f";
}

.macicons-ice-golem::before {
    content: "\eb90";
}

.macicons-ice-shield::before {
    content: "\eb91";
}

.macicons-ice-spear::before {
    content: "\eb92";
}

.macicons-ice-spell-cast::before {
    content: "\eb93";
}

.macicons-icicles-fence::before {
    content: "\eb94";
}

.macicons-ifrit::before {
    content: "\eb95";
}

.macicons-impact-point::before {
    content: "\eb96";
}

.macicons-implosion::before {
    content: "\eb97";
}

.macicons-imprisoned::before {
    content: "\eb98";
}

.macicons-incense::before {
    content: "\eb9c";
}

.macicons-incoming-rocket::before {
    content: "\eb99";
}

.macicons-infested-mass::before {
    content: "\eb9a";
}

.macicons-infinity::before {
    content: "\eb9b";
}

.macicons-ink-swirl::before {
    content: "\eb9d";
}

.macicons-interleaved-arrows::before {
    content: "\eb9e";
}

.macicons-interleaved-claws::before {
    content: "\eb9f";
}

.macicons-internal-injury::before {
    content: "\eba0";
}

.macicons-internal-organ::before {
    content: "\eba1";
}

.macicons-invisible::before {
    content: "\eba2";
}

.macicons-ion-cannon-blast::before {
    content: "\eba3";
}

.macicons-iron-cross::before {
    content: "\eba4";
}

.macicons-jeweled-chalice::before {
    content: "\eba5";
}

.macicons-journey::before {
    content: "\eba6";
}

.macicons-juggler::before {
    content: "\eba7";
}

.macicons-kaleidoscope-pearls::before {
    content: "\eba8";
}

.macicons-katana::before {
    content: "\eba9";
}

.macicons-kevlar::before {
    content: "\ebaa";
}

.macicons-kimono::before {
    content: "\ebab";
}

.macicons-kindle::before {
    content: "\ebac";
}

.macicons-kitchen-knives::before {
    content: "\ebad";
}

.macicons-knapsack::before {
    content: "\ebae";
}

.macicons-kneeling::before {
    content: "\ebaf";
}

.macicons-knife-thrust::before {
    content: "\ebb0";
}

.macicons-knockout::before {
    content: "\ebb1";
}

.macicons-kusarigama::before {
    content: "\ebb2";
}

.macicons-ladder::before {
    content: "\ebb3";
}

.macicons-lamellar::before {
    content: "\ebb4";
}

.macicons-lantern-flame::before {
    content: "\ebb5";
}

.macicons-large-wound::before {
    content: "\ebb6";
}

.macicons-laser-blast::before {
    content: "\ebb7";
}

.macicons-laser-burst::before {
    content: "\ebb8";
}

.macicons-laser-precision::before {
    content: "\ebb9";
}

.macicons-laser-sparks::before {
    content: "\ebbb";
}

.macicons-laserburn::before {
    content: "\ebbc";
}

.macicons-laurel-crown::before {
    content: "\ebba";
}

.macicons-lava::before {
    content: "\ebbd";
}

.macicons-leg-armor::before {
    content: "\ebbe";
}

.macicons-letter-bomb::before {
    content: "\ebbf";
}

.macicons-lift::before {
    content: "\ebc0";
}

.macicons-light-sabers::before {
    content: "\ebc1";
}

.macicons-light-thorny-triskelion::before {
    content: "\ebc2";
}

.macicons-lightning-arc::before {
    content: "\ebc3";
}

.macicons-lightning-bow::before {
    content: "\ebc4";
}

.macicons-lightning-branches::before {
    content: "\ebc5";
}

.macicons-lightning-dissipation::before {
    content: "\ebc6";
}

.macicons-lightning-electron::before {
    content: "\ebc7";
}

.macicons-lightning-frequency::before {
    content: "\ebc8";
}

.macicons-lightning-helix::before {
    content: "\ebc9";
}

.macicons-lightning-mask::before {
    content: "\ebca";
}

.macicons-lightning-saber::before {
    content: "\ebcb";
}

.macicons-lightning-shadow::before {
    content: "\ebcc";
}

.macicons-lightning-shield::before {
    content: "\ebcd";
}

.macicons-lightning-shout::before {
    content: "\ebce";
}

.macicons-lightning-slashes::before {
    content: "\ebcf";
}

.macicons-lightning-spanner::before {
    content: "\ebd0";
}

.macicons-lightning-storm::before {
    content: "\ebd1";
}

.macicons-lightning-tear::before {
    content: "\ebd2";
}

.macicons-lightning-tree::before {
    content: "\ebd3";
}

.macicons-lightning-trio::before {
    content: "\ebd4";
}

.macicons-log::before {
    content: "\ebd5";
}

.macicons-logging::before {
    content: "\ebd6";
}

.macicons-look-at::before {
    content: "\ebd7";
}

.macicons-lotus-flower::before {
    content: "\ebd8";
}

.macicons-lucifer-cannon::before {
    content: "\ebd9";
}

.macicons-lunar-wand::before {
    content: "\ebda";
}

.macicons-lyre::before {
    content: "\ebdb";
}

.macicons-mace-head::before {
    content: "\ebdc";
}

.macicons-machete::before {
    content: "\ebdd";
}

.macicons-magic-gate::before {
    content: "\ebde";
}

.macicons-magic-palm::before {
    content: "\ebdf";
}

.macicons-magic-shield::before {
    content: "\ebe0";
}

.macicons-magic-swirl::before {
    content: "\ebe1";
}

.macicons-magic-trident::before {
    content: "\ebe2";
}

.macicons-magick-trick::before {
    content: "\ebe3";
}

.macicons-magnet-blast::before {
    content: "\ebe4";
}

.macicons-magnet::before {
    content: "\ebe5";
}

.macicons-magnifying-glass::before {
    content: "\ebe6";
}

.macicons-mailbox::before {
    content: "\ebe7";
}

.macicons-mailed-fist::before {
    content: "\ebe8";
}

.macicons-manacles::before {
    content: "\ebe9";
}

.macicons-master-of-arms::before {
    content: "\ebea";
}

.macicons-match-tip::before {
    content: "\ebeb";
}

.macicons-meal::before {
    content: "\ebec";
}

.macicons-meat-cleaver::before {
    content: "\ebed";
}

.macicons-meat-hook::before {
    content: "\ebee";
}

.macicons-meat::before {
    content: "\ebef";
}

.macicons-mechanical-arm::before {
    content: "\ebf0";
}

.macicons-meditation::before {
    content: "\ebf1";
}

.macicons-medusa-head::before {
    content: "\ebf2";
}

.macicons-mermaid::before {
    content: "\ebf3";
}

.macicons-metal-bar::before {
    content: "\ebf4";
}

.macicons-meteor-impact::before {
    content: "\ebf5";
}

.macicons-middle-arrow::before {
    content: "\ebf6";
}

.macicons-mine-explosion::before {
    content: "\ebf8";
}

.macicons-minerals::before {
    content: "\ebf7";
}

.macicons-miracle-medecine::before {
    content: "\ebf9";
}

.macicons-missile-swarm::before {
    content: "\ebfc";
}

.macicons-moebius-star::before {
    content: "\ebfa";
}

.macicons-moebius-trefoil::before {
    content: "\ebfb";
}

.macicons-molecule::before {
    content: "\ebfd";
}

.macicons-morph-ball::before {
    content: "\ebff";
}

.macicons-mouth-watering::before {
    content: "\ebfe";
}

.macicons-necklace::before {
    content: "\ec00";
}

.macicons-nested-eclipses::before {
    content: "\ec01";
}

.macicons-nested-hearts::before {
    content: "\ec02";
}

.macicons-north-star-shuriken::before {
    content: "\ec03";
}

.macicons-ocarina::before {
    content: "\ec04";
}

.macicons-on-sight::before {
    content: "\ec05";
}

.macicons-on-target::before {
    content: "\ec06";
}

.macicons-one-eyed::before {
    content: "\ec07";
}

.macicons-oppression::before {
    content: "\ec08";
}

.macicons-orb-wand::before {
    content: "\ec09";
}

.macicons-orbital::before {
    content: "\ec0a";
}

.macicons-organigram::before {
    content: "\ec0b";
}

.macicons-overdose::before {
    content: "\ec0c";
}

.macicons-overdrive::before {
    content: "\ec0e";
}

.macicons-owl::before {
    content: "\ec0d";
}

.macicons-padlock::before {
    content: "\ec0f";
}

.macicons-pentarrows-tornado::before {
    content: "\ec10";
}

.macicons-person::before {
    content: "\ec11";
}

.macicons-pierced-body::before {
    content: "\ec12";
}

.macicons-pierced-heart::before {
    content: "\ec13";
}

.macicons-piercing-sword::before {
    content: "\ec14";
}

.macicons-pill-drop::before {
    content: "\ec15";
}

.macicons-plain-dagger::before {
    content: "\ec16";
}

.macicons-plasma-bolt::before {
    content: "\ec17";
}

.macicons-pocket-bow::before {
    content: "\ec18";
}

.macicons-pointing::before {
    content: "\ec19";
}

.macicons-pointy-hat::before {
    content: "\ec1a";
}

.macicons-pointy-sword::before {
    content: "\ec1b";
}

.macicons-poison-bottle::before {
    content: "\ec1c";
}

.macicons-poison-gas::before {
    content: "\ec1d";
}

.macicons-portal::before {
    content: "\ec1e";
}

.macicons-potion-ball::before {
    content: "\ec1f";
}

.macicons-pouring-chalice::before {
    content: "\ec20";
}

.macicons-powder::before {
    content: "\ec21";
}

.macicons-power-lightning::before {
    content: "\ec22";
}

.macicons-prayer-beads::before {
    content: "\ec23";
}

.macicons-prayer::before {
    content: "\ec24";
}

.macicons-pretty-fangs::before {
    content: "\ec25";
}

.macicons-profit::before {
    content: "\ec26";
}

.macicons-psychic-waves::before {
    content: "\ec27";
}

.macicons-pulse::before {
    content: "\ec28";
}

.macicons-punch-blast::before {
    content: "\ec29";
}

.macicons-punch::before {
    content: "\ec2a";
}

.macicons-pyromaniac::before {
    content: "\ec2b";
}

.macicons-quake-stomp::before {
    content: "\ec2c";
}

.macicons-quicksand::before {
    content: "\ec2d";
}

.macicons-rainbow-star::before {
    content: "\ec2e";
}

.macicons-rear-aura::before {
    content: "\ec2f";
}

.macicons-regeneration::before {
    content: "\ec30";
}

.macicons-relic-blade::before {
    content: "\ec31";
}

.macicons-resonance::before {
    content: "\ec32";
}

.macicons-reticule::before {
    content: "\ec33";
}

.macicons-revolt::before {
    content: "\ec34";
}

.macicons-ringed-beam::before {
    content: "\ec35";
}

.macicons-robe::before {
    content: "\ec36";
}

.macicons-rolling-bomb::before {
    content: "\ec37";
}

.macicons-rolling-dices::before {
    content: "\ec38";
}

.macicons-rolling-energy::before {
    content: "\ec39";
}

.macicons-rosa-shield::before {
    content: "\ec3a";
}

.macicons-rose::before {
    content: "\ec3b";
}

.macicons-rune-sword::before {
    content: "\ec3c";
}

.macicons-running-ninja::before {
    content: "\ec3d";
}

.macicons-saber-slash::before {
    content: "\ec3e";
}

.macicons-sabers-choc::before {
    content: "\ec3f";
}

.macicons-sacrificial-dagger::before {
    content: "\ec40";
}

.macicons-sai::before {
    content: "\ec41";
}

.macicons-sands-of-time::before {
    content: "\ec42";
}

.macicons-saphir::before {
    content: "\ec43";
}

.macicons-scabbard::before {
    content: "\ec44";
}

.macicons-secret-door::before {
    content: "\ec45";
}

.macicons-self-love::before {
    content: "\ec46";
}

.macicons-semi-closed-eye::before {
    content: "\ec47";
}

.macicons-shadow-follower::before {
    content: "\ec48";
}

.macicons-shard-sword::before {
    content: "\ec49";
}

.macicons-sharp-axe::before {
    content: "\ec4a";
}

.macicons-sharp-halberd::before {
    content: "\ec4b";
}

.macicons-shatter::before {
    content: "\ec4c";
}

.macicons-shield-bash::before {
    content: "\ec4d";
}

.macicons-shield-bounces::before {
    content: "\ec4e";
}

.macicons-shield-disabled::before {
    content: "\ec4f";
}

.macicons-shield-echoes::before {
    content: "\ec50";
}

.macicons-shield-reflect::before {
    content: "\ec51";
}

.macicons-shining-heart::before {
    content: "\ec53";
}

.macicons-shining-sword::before {
    content: "\ec52";
}

.macicons-sickle::before {
    content: "\ec54";
}

.macicons-sinusoidal-beam::before {
    content: "\ec55";
}

.macicons-skull-bolt::before {
    content: "\ec56";
}

.macicons-skull-shield::before {
    content: "\ec57";
}

.macicons-skull-staff::before {
    content: "\ec58";
}

.macicons-slap::before {
    content: "\ec59";
}

.macicons-slashed-shield::before {
    content: "\ec5a";
}

.macicons-slavery-whip::before {
    content: "\ec5b";
}

.macicons-slicing-arrow::before {
    content: "\ec5c";
}

.macicons-small-fire::before {
    content: "\ec5d";
}

.macicons-smoking-finger::before {
    content: "\ec5e";
}

.macicons-smoking-orb::before {
    content: "\ec5f";
}

.macicons-snow-bottle::before {
    content: "\ec60";
}

.macicons-snowflake-2::before {
    content: "\ec61";
}

.macicons-snowing::before {
    content: "\ec62";
}

.macicons-sonic-boom::before {
    content: "\ec63";
}

.macicons-sonic-lightning::before {
    content: "\ec64";
}

.macicons-sonic-screech::before {
    content: "\ec65";
}

.macicons-sonic-shout::before {
    content: "\ec66";
}

.macicons-spark-spirit::before {
    content: "\ec67";
}

.macicons-sparkling-sabre::before {
    content: "\ec68";
}

.macicons-sparky-bomb::before {
    content: "\ec69";
}

.macicons-spear-feather::before {
    content: "\ec6c";
}

.macicons-spectre::before {
    content: "\ec6a";
}

.macicons-spell-book::before {
    content: "\ec6b";
}

.macicons-spiked-tail::before {
    content: "\ec6d";
}

.macicons-spinning-blades::before {
    content: "\ec6e";
}

.macicons-spinning-ribbons::before {
    content: "\ec6f";
}

.macicons-spinning-sword::before {
    content: "\ec70";
}

.macicons-spiral-tentacle::before {
    content: "\ec71";
}

.macicons-spiral-thrust::before {
    content: "\ec72";
}

.macicons-sprint::before {
    content: "\ec73";
}

.macicons-spyglass::before {
    content: "\ec74";
}

.macicons-star-formation::before {
    content: "\ec75";
}

.macicons-star-sattelites::before {
    content: "\ec76";
}

.macicons-star-skull::before {
    content: "\ec77";
}

.macicons-star-swirl::before {
    content: "\ec78";
}

.macicons-stars-stack::before {
    content: "\ec79";
}

.macicons-staryu::before {
    content: "\ec7a";
}

.macicons-static-waves::before {
    content: "\ec7b";
}

.macicons-static::before {
    content: "\ec7c";
}

.macicons-steam::before {
    content: "\ec7d";
}

.macicons-stiletto-2::before {
    content: "\ec7e";
}

.macicons-stiletto::before {
    content: "\ec7f";
}

.macicons-stomp-tornado::before {
    content: "\ec80";
}

.macicons-stone-axe::before {
    content: "\ec81";
}

.macicons-stone-spear::before {
    content: "\ec82";
}

.macicons-striking-arrows::before {
    content: "\ec83";
}

.macicons-striking-balls::before {
    content: "\ec84";
}

.macicons-striking-clamps::before {
    content: "\ec85";
}

.macicons-striking-diamonds::before {
    content: "\ec86";
}

.macicons-striking-splinter::before {
    content: "\ec87";
}

.macicons-striped-sword::before {
    content: "\ec88";
}

.macicons-strong::before {
    content: "\ec89";
}

.macicons-stump-regrowth::before {
    content: "\ec8a";
}

.macicons-sun-radiations::before {
    content: "\ec8b";
}

.macicons-sunbeams::before {
    content: "\ec8c";
}

.macicons-supersonic-arrow::before {
    content: "\ec8d";
}

.macicons-supersonic-bullet::before {
    content: "\ec8e";
}

.macicons-surprised::before {
    content: "\ec8f";
}

.macicons-surrounded-shield::before {
    content: "\ec90";
}

.macicons-suspicious::before {
    content: "\ec91";
}

.macicons-swap-bag::before {
    content: "\ec92";
}

.macicons-swirl-ring::before {
    content: "\ec93";
}

.macicons-swirl-string::before {
    content: "\ec94";
}

.macicons-switch-weapon::before {
    content: "\ec95";
}

.macicons-sword-altar::before {
    content: "\ec96";
}

.macicons-sword-array::before {
    content: "\ec97";
}

.macicons-sword-break::before {
    content: "\ec98";
}

.macicons-sword-clash::before {
    content: "\ec99";
}

.macicons-sword-smithing::before {
    content: "\ec9a";
}

.macicons-sword-spin::before {
    content: "\ec9b";
}

.macicons-sword-tie::before {
    content: "\ec9c";
}

.macicons-sword-wound::before {
    content: "\ec9d";
}

.macicons-swords-emblem::before {
    content: "\ec9e";
}

.macicons-take-my-money::before {
    content: "\ec9f";
}

.macicons-target-arrows::before {
    content: "\eca0";
}

.macicons-target-dummy::before {
    content: "\eca1";
}

.macicons-targeting::before {
    content: "\eca2";
}

.macicons-telepathy::before {
    content: "\eca3";
}

.macicons-teleport::before {
    content: "\eca4";
}

.macicons-tension-snowflake::before {
    content: "\eca5";
}

.macicons-tentacle-heart::before {
    content: "\eca6";
}

.macicons-thorn-helix::before {
    content: "\eca7";
}

.macicons-thorned-arrow::before {
    content: "\eca8";
}

.macicons-thrown-charcoal::before {
    content: "\eca9";
}

.macicons-thrown-daggers::before {
    content: "\ecaa";
}

.macicons-thrown-knife::before {
    content: "\ecab";
}

.macicons-thrown-spear::before {
    content: "\ecac";
}

.macicons-thrust-bend::before {
    content: "\ecad";
}

.macicons-thunder-blade::before {
    content: "\ecae";
}

.macicons-thunder-skull::before {
    content: "\ecaf";
}

.macicons-thunder-struck::before {
    content: "\ecb0";
}

.macicons-thunderball::before {
    content: "\ecb1";
}

.macicons-tiara::before {
    content: "\ecb2";
}

.macicons-tied-scroll::before {
    content: "\ecb3";
}

.macicons-tightrope::before {
    content: "\ecb4";
}

.macicons-time-trap::before {
    content: "\ecb5";
}

.macicons-torch::before {
    content: "\ecb6";
}

.macicons-tornado-discs::before {
    content: "\ecb7";
}

.macicons-tornado::before {
    content: "\ecb8";
}

.macicons-trade::before {
    content: "\ecb9";
}

.macicons-transfuse::before {
    content: "\ecba";
}

.macicons-transportation-rings::before {
    content: "\ecbb";
}

.macicons-turd::before {
    content: "\ecbc";
}

.macicons-twin-shell::before {
    content: "\ecbd";
}

.macicons-twister::before {
    content: "\ecbe";
}

.macicons-two-shadows::before {
    content: "\ecbf";
}

.macicons-ultrasound::before {
    content: "\ecc0";
}

.macicons-uncertainty::before {
    content: "\ecc1";
}

.macicons-unfriendly-fire::before {
    content: "\ecc2";
}

.macicons-unlocking::before {
    content: "\ecc3";
}

.macicons-unstable-orb::before {
    content: "\ecc4";
}

.macicons-unstable-projectile::before {
    content: "\ecc5";
}

.macicons-usable::before {
    content: "\ecc6";
}

.macicons-vibrating-ball::before {
    content: "\ecc7";
}

.macicons-vibrating-shield::before {
    content: "\ecc8";
}

.macicons-vine-whip::before {
    content: "\ecc9";
}

.macicons-vortex::before {
    content: "\ecca";
}

.macicons-water-splash::before {
    content: "\eccc";
}

.macicons-wave-crest::before {
    content: "\eccb";
}

.macicons-wave-strike::before {
    content: "\eccd";
}

.macicons-web-spit::before {
    content: "\ecce";
}

.macicons-whirlwind::before {
    content: "\eccf";
}

.macicons-wildfires::before {
    content: "\ecd0";
}

.macicons-wind-hole::before {
    content: "\ecd1";
}

.macicons-wind-slap::before {
    content: "\ecd2";
}

.macicons-wing-cloak::before {
    content: "\ecd3";
}

.macicons-winged-arrow::before {
    content: "\ecd4";
}

.macicons-winged-sword::before {
    content: "\ecd5";
}

.macicons-wingfoot::before {
    content: "\ecd6";
}

.macicons-yin-yang::before {
    content: "\ecd7";
}

.macicons-zeus-sword::before {
    content: "\ecd8";
}
