
:host {
  .fog {
    width: 64px;
    height: 64px;
    background-color: #000;
    z-index: 500;
    position: absolute;
    pointer-events: none;

    &.faded {
      opacity: 0.5 !important;
      display: inline !important;
    }
  }
}
