.loading-text {
  color: #fff;
  z-index: 900;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 32px;

  user-select: none;
}

.item-text {
  z-index: 5000;

  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 5px;
  text-align: center;
  font-size: 0.875rem;
  opacity: 0.9;
  background: #000;
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;

  user-select: none;
}
