<div id="mapcanvas" #mapElement droppable dropScope="mapground" (onDrop)="colyseus.game.buildDropAction($event, 'Ground')"></div>

<div *ngIf="colyseus.game.clientGameState.fov" [class.hidden]="game && !game.isLoaded">
  <div *ngFor="let x of colyseus.game.clientGameState.fovArray">
    <div *ngFor="let y of colyseus.game.clientGameState.fovArray"
         class="fog"
         [style.left]="((x+4)*64)+'px'"
         [style.top]="(((y+4)*64))+'px'"
         [class.hidden]="shouldRenderXY(x, y)"
         [class.faded]="shouldRenderXY(x, y) && canDarkSee(x, y)"
    ></div>
  </div>

  <div *ngFor="let x of colyseus.game.clientGameState.fovArray">
    <div *ngFor="let y of colyseus.game.clientGameState.fovArray"
         class="fog"
         [style.left]="((x+4)*64)+'px'"
         [style.top]="(((y+4)*64))+'px'"
         [class.left-half]="shouldRenderXY(x, y) && !shouldRenderXY(x - 1, y) && isThereAWallAt(x, y)"
         [class.hidden]="shouldRenderXY(x, y)"
    ></div>
  </div>

  <div *ngFor="let x of colyseus.game.clientGameState.fovArray">
    <div *ngFor="let y of colyseus.game.clientGameState.fovArray"
         class="fog"
         [style.left]="((x+4)*64)+'px'"
         [style.top]="(((y+4)*64))+'px'"
         [class.right-half]="shouldRenderXY(x, y) && !shouldRenderXY(x + 1, y) && isThereAWallAt(x, y)"
         [class.hidden]="shouldRenderXY(x, y)"
    ></div>
  </div>

  <div *ngFor="let x of colyseus.game.clientGameState.fovArray">
    <div *ngFor="let y of colyseus.game.clientGameState.fovArray"
         class="fog"
         [style.left]="((x+4)*64)+'px'"
         [style.top]="(((y+4)*64))+'px'"
         [class.bottom-half]="shouldRenderXY(x, y) && !shouldRenderXY(x, y + 1) && isThereAWallAt(x, y)"
         [class.hidden]="shouldRenderXY(x, y)"
    ></div>
  </div>

</div>
