
<div class="d-flex flex-column p-1">

  <h5 class="header mt-1 text-center">Actions</h5>

  <div class="row mt-1">

    <div class="col-4 text-right">
      <button class="btn btn-primary"
              [disabled]="colyseusGame.character.baseClass !== colyseusGame.showTrainer.classTrain"
              tooltip="Gain levels based on your current experience points."
              container="body"
              (click)="train()">Train</button>
    </div>

    <div class="col-4 text-center">
      <button class="btn btn-primary"
              [disabled]="!selectedSkill"
              tooltip="See your current skill rating as a percentage for the chosen skill."
              container="body"
              (click)="assess()">Assess</button>
    </div>

    <div class="col-4" *ngIf="colyseusGame.character.baseClass === colyseusGame.showTrainer.classTrain">
      <button class="btn btn-primary"
              tooltip="Attempt to learn new skills based on your skill rating."
              container="body"
              (click)="learn()">Learn</button>
    </div>

    <div class="col-4" *ngIf="colyseusGame.character.baseClass !== colyseusGame.showTrainer.classTrain">
      <button class="btn btn-primary"
              [disabled]="colyseusGame.character.baseClass !== 'Undecided'"
              tooltip="Join this profession and begin adventuring as it."
              container="body"
              (click)="join()">Join</button>
    </div>

  </div>

  <h5 class="header mt-3 text-center">Trainer Skills</h5>
  <h6 class="subheader mt-1 text-center"><em>(choose a skill below to assess it)</em></h6>

  <div class="row mt-2 px-3">
    <div class="col-4" *ngFor="let skill of colyseusGame.showTrainer.trainSkills">
      <div class="skill-container d-flex justify-content-center p-2" (click)="selectedSkill = skill" [class.selected]="selectedSkill === skill">
        <app-skill-icon [skillName]="skill"></app-skill-icon>
      </div>
    </div>
  </div>

</div>
