
<div *ngIf="shouldShowBox">
  <div class="target-name">
    <span class="dir">{{ dirString }}</span>
    <span>{{ target.name }} ({{ hostility }})</span>
    <span class="difficulty" *ngIf="isDifficult" tooltip="This target might present some difficulty.">
      <app-icon name="crowned-skull" size="xsmall" round="true"></app-icon>
    </span>
  </div>
  <div class="target-affiliation text-center">
    <span *ngIf="target.affiliation"><{{ target.affiliation }}></span>
  </div>
  <div class="target-health">
    <div class="progress">
      <div class="progress-bar bg-danger" [style.width]="targetHealth + '%'"></div>
      <div class="progress-bar-text">{{ targetHealth }}%</div>
    </div>
  </div>
  <div class="target-status">
    <div *ngFor="let effect of effects" class="effect-container">
      <app-status-effect [effect]="effect" placement="bottom" *ngIf="effect"></app-status-effect>
    </div>
  </div>
</div>
