
:host {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  z-index: 600;
  pointer-events: none;
  user-select: none;

  display: flex;
  flex-direction: column;
}

.target-name, .target-health {
  margin-top: 3px;
}

.target-name, .target-affiliation, .progress-bar, .progress-bar-text {
  color: #fff !important;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000 !important;
}

.target-affiliation {
  min-height: 15px;
  font-size: 85%;
}

.target-name {
  .dir {
    display: inline-block;
    width: 25px !important;
  }

  .difficulty {
    float: right;
    text-shadow: none;
  }
}

.progress-bar-text {
  font-weight: bold;
}

.target-health, .target-status, .target-name, .target-affiliation {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.target-status {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.effect-container {
  width: 32px;
  height: 40px;
  margin: 4px;
  background-color: #ccc;
  pointer-events: auto;
}
