
.message-container-container {
  width: 100%;
  padding-top: 0 !important;

  .message-container {
    overflow-y: auto;
    word-wrap: break-word;
    position: relative;

    height: 200px;

    &.window-size-max {
      min-height: calc(100% - 56px - 28px) !important;
      height: initial;
      max-height: calc(100% - 56px - 28px) !important;
    }

    &.window-size-xlarge {
      height: 580px;
    }

    &.window-size-large {
      height: 400px;
    }

    &.window-size-small {
      height: 140px;
    }

    &.window-size-xsmall {
      height: 86px;
    }

    .filter-buttons {
      width: 100%;
      position: sticky;
      top: -1px;
      left: 0;
      right: 1px;
    }

    .message {
      font-size: 0.9rem;
      letter-spacing: 1px;

      &.font-size-xlarge {
        font-size: 1.3rem;
      }

      &.font-size-large {
        font-size: 1.1rem;
      }

      &.font-size-small {
        font-size: 0.8rem;
      }

      &.font-size-xsmall {
        font-size: 0.7rem;
      }

      &.loot {
        font-weight: bold;
      }

      &.combat {
        &.self {
          color: #0f0;
        }

        &.other.miss, &.other.block {
          color: #ccc;
        }

        &.other.hit {
          color: #fb5555;
        }

        &.heal {
          color: #0f0;
        }

        &.kill {
          font-weight: bold;
        }
      }

      strong {
        letter-spacing: 2px;
      }
    }
  }

}
