
<div class="message-container-container">

  <div class="filter-buttons d-flex justify-content-around">
    <button class="btn btn-block btn-sm no-border-radius mt-0"
            [class.btn-secondary]="!filters.all"
            [class.btn-info]="filters.all"
            btnCheckbox
            [(ngModel)]="filters.all"
            (click)="saveFilters('all')">
      All
    </button>
    <button class="btn btn-block btn-sm no-border-radius mt-0"
            [class.btn-secondary]="!filters.env"
            [class.btn-info]="filters.env"
            btnCheckbox
            [(ngModel)]="filters.env"
            (click)="saveFilters('env')">
      Environment
    </button>
    <button class="btn btn-block btn-sm no-border-radius mt-0"
            [class.btn-secondary]="!filters.combat"
            [class.btn-info]="filters.combat"
            btnCheckbox
            [(ngModel)]="filters.combat"
            (click)="saveFilters('combat')">
      Combat
    </button>
    <button class="btn btn-block btn-sm no-border-radius mt-0"
            [class.btn-secondary]="!filters.chatter"
            [class.btn-info]="filters.chatter"
            btnCheckbox
            [(ngModel)]="filters.chatter"
            (click)="saveFilters('chatter')">
      Chat
    </button>
  </div>

  <virtual-scroll #chatView
                  class="p-1 message-container"
                  [ngClass]="['window-size-' + windowSize]"
                  appNgxAutoScroll
                  lockYOffset="10"
                  [style.height.px]="containerHeight"
                  bufferAmount="10"
                  enableUnequalChildrenSizes="true"
                  (vsUpdate)="updateVisibleItems($event)"
                  [items]="allFilteredVisibleLogItems">

    <div class="message {{ message.subClass }}"
         [ngClass]="['font-size-'+fontSize]"
         *ngFor="let message of chatView.viewPortItems">
      <app-log-message [message]="message"></app-log-message>
    </div>

  </virtual-scroll>
</div>
