
.message-container-container {
  width: 100%;
  padding-top: 0 !important;

  .message-container {
    overflow-y: auto;
    word-wrap: break-word;
    position: relative;

    height: 200px;

    &.window-size-xlarge {
      height: 580px;
    }

    &.window-size-large {
      height: 400px;
    }

    &.window-size-small {
      height: 140px;
    }

    &.window-size-xsmall {
      height: 86px;
    }

    .filter-buttons {
      width: 100%;
      position: sticky;
      top: -1px;
      left: 0;
      right: 1px;
    }

    .message {
      font-size: 0.8rem;

      &.font-size-xlarge {
        font-size: 1.1rem;
      }

      &.font-size-large {
        font-size: 0.9rem;
      }

      &.font-size-small {
        font-size: 0.7rem;
      }

      &.font-size-xsmall {
        font-size: 0.5rem;
      }

      &.loot {
        font-weight: bold;
      }

      &.combat {
        &.self {
          color: #00a;
        }

        &.other.miss, &.other.block {
          color: #aaa;
        }

        &.other.hit {
          color: #b20;
        }

        &.heal {
          color: #080;
        }

        &.kill {
          font-weight: bold;
        }
      }
    }
  }

}
