
<div class="message-container-container">

  <div class="filter-buttons d-flex justify-content-around">
    <button class="btn btn-sm btn-info no-border-radius" btnCheckbox [(ngModel)]="filters.env" (click)="saveFilters()">
      Environment [{{ filters.env ? 'ON' : 'OFF'}}]
    </button>
    <div class="btn btn-sm btn-info no-border-radius" btnCheckbox [(ngModel)]="filters.combat" (click)="saveFilters()">
      Combat [{{ filters.combat ? 'ON' : 'OFF'}}]
    </div>
    <div class="btn btn-sm btn-info no-border-radius" btnCheckbox [(ngModel)]="filters.chatter" (click)="saveFilters()">
      Chatter [{{ filters.chatter ? 'ON' : 'OFF'}}]
    </div>
  </div>

  <virtual-scroll class="p-1 message-container"
                  [ngClass]="['window-size-' + windowSize]"
                  appNgxAutoScroll
                  lockYOffset="30"
                  [style.height.px]="containerHeight"
                  bufferAmount="10"
                  [childHeight]="21"
                  (update)="updateVisibleItems($event)"
                  [items]="allFilteredVisibleLogItems">

    <div class="message {{ message.subClass }}"
         [class.hidden]="message.grouping !== 'always' && !filters[message.grouping]"
         [ngClass]="['font-size-'+fontSize]"
         *ngFor="let message of visibleLogItems">
      <app-log-message [message]="message"></app-log-message>
    </div>

  </virtual-scroll>
</div>
