<table class="table table-striped table-sm mb-0">
  <thead>
  <tr>
    <th>Name</th>
    <th>Profession</th>
    <th>Level</th>
    <th>HP</th>
    <th>MP</th>
    <th class="text-center">Location</th>
  </tr>
  </thead>
  <tbody *ngIf="party">
  <tr *ngFor="let char of party.members">
    <td>{{ char.name }}</td>
    <td>{{ char.baseClass }}</td>
    <td>{{ char.level }}</td>
    <td>{{ char.hpPercent }}%</td>
    <td>{{ char.mpPercent || 0 }}%</td>
    <td class="text-center">{{ locationFor(char) }}</td>
  </tr>
  </tbody>
  <tbody *ngIf="!party">
  <tr>
    <td colspan="6" class="text-center">You do not have a party.</td>
  </tr>
  </tbody>
</table>

<h5 class="header mt-1 text-center">Party Points</h5>

<div class="progress w-100">
  <div class="progress-bar bg-success"
       [style.width]="partyPointProgressPercent + '%'"></div>
  <div class="progress-bar-text">{{ partyExpString }} ({{ partyPointProgressPercent }}%)</div>
</div>
