
:host, .lobby-container {
  height: 100%;
}

.lobby-container {
  display: flex;
  flex-direction: column;
}

.user-list {
  border-right: 1px solid #000;
  overflow-y: auto;

  .user {

    overflow: hidden;

    .user-ingame {
      margin-right: 10px !important;
    }

    .user-name {
      &.afk {
         color: #888;
      }
    }

    .user-marking {
      width: 10px;
      height: 10px;
      border: 1px solid #000;
      border-radius: 50%;
      display: inline-block;

      &.gm {
        background: purple;
        background: linear-gradient(135deg, #ad3486 0%, #4100db 50%, #bdf3fd 100%);
      }

      &.sub {
        background: #9f8914;
        background: linear-gradient(135deg, #9f8914 0%, #3e370e 50%, #ffd700 100%);
      }

      &.muted {
        background: gray;
        background: linear-gradient(135deg, #ccc 0%, #555 50%, #eee 100%);
      }

      &.tester {
        background: blue;
        background: linear-gradient(135deg, #00f 0%, #004 50%, #0aa 100%);
      }

    }
  }
}

.big-row {
  height: calc(100% - 38px);
}

.motd-area {
  border-bottom: 1px solid #000;
}

.chat-area {
  overflow-y: auto;
  overflow-x: hidden;

  height: calc(100% - 25px);
  max-height: calc(100% - 25px);

  .message {
    font-size: 1.3rem;

    .timestamp {
      min-width: 80px;
    }

    .account {
      text-align: right;
      margin-right: 5px;
      margin-left: 5px;
      font-weight: bold;
      letter-spacing: 2px;
    }
  }
}

.status-selector-area {
  border-right: 1px solid #000;
}

.input-area {
  height: 38px;
  flex: 1;

  input {
    border: 1px solid #000 !important;
    border-left: none !important;
    border-bottom: none !important;
    border-right: none !important;
  }
}

.border-top-button {
  border-top: 1px solid #000;
}

.border-left-button {
  border-left: 1px solid #000;
}

.border-right-button {
  border-right: 1px solid #000;
}