
.user-list {
  border-right: 1px solid #000;
  overflow-y: auto;

  .user {

    overflow: hidden;

    .user-ingame {
      margin-right: 10px;
    }

    .user-name {
      &.afk {
         color: #888;
      }
    }

    .user-marking {

      &.gm {
        width: 10px;
        height: 10px;
        border: 1px solid #000;
        border-radius: 50%;
        background: purple;
        background: linear-gradient(135deg, #ad3486 0%,#4100db 50%,#bdf3fd 100%);
        display: inline-block;
      }

    }
  }
}

.big-row {
  height: calc(100% - 38px);
}

.chat-area {
  max-height: 350px;
  overflow-y: auto;

  .message {
    display: flex;
    flex-direction: row;

    .account {
      text-align: right;
      margin-right: 5px;
      margin-left: 5px;
      font-weight: bold;
    }
  }
}

.status-selector-area {
  border-right: 1px solid #000;
}

.input-area {
  height: 38px;
  flex: 1;
}
