
<div class="d-flex flex-column p-1 w-100">

  <div class="row mt-3">
    <div class="col-8">

      <div class="row">
        <div class="col-8 text-center">
          <h3>Craft Item</h3>
        </div>
        <div class="col-4 text-center">
          <button class="btn btn-primary btn-block" [disabled]="craftDisabled" (click)="craft()">Craft</button>
        </div>
      </div>

      <div class="row mt-1 margin-left border border-primary"></div>

      <div class="row mt-2">

        <div class="col col-4 item-row">
          <div class="item-slot item-background"
               droppable
               dropScope="metalworking"
               (onDrop)="colyseusGame.buildDropAction($event, 'Tradeskill:Metalworking:0')">
            <span class="item-slot-bg-text" *ngIf="!player.tradeSkillContainers.metalworking.items[0]">Base Item</span>
            <app-item size="normal"
                      *ngIf="player.tradeSkillContainers.metalworking.items[0]"
                      [item]="player.tradeSkillContainers.metalworking.items[0]"
                      contextSlot="0"
                      [containerUUID]="colyseusGame.metalworking.uuid"
                      context="Tradeskill:Metalworking"></app-item>
          </div>
        </div>

        <div class="col col-4 item-row">
          <div class="item-slot item-background"
               droppable
               dropScope="metalworking"
               (onDrop)="colyseusGame.buildDropAction($event, 'Tradeskill:Metalworking:1')">
            <span class="item-slot-bg-text" *ngIf="!player.tradeSkillContainers.metalworking.items[1]">Craft Reagent</span>
            <app-item size="normal"
                      *ngIf="player.tradeSkillContainers.metalworking.items[1]"
                      [item]="player.tradeSkillContainers.metalworking.items[1]"
                      contextSlot="1"
                      [containerUUID]="colyseusGame.showMetalworking.uuid"
                      context="Tradeskill:Metalworking"></app-item>
          </div>
        </div>

        <div class="col col-4 item-row">
          <div class="item-slot item-background">
            <span class="item-slot-bg-text" *ngIf="!player.tradeSkillContainers.metalworking.items[2]">Craft Result</span>
            <app-item size="normal"
                      *ngIf="player.tradeSkillContainers.metalworking.items[2]"
                      [item]="player.tradeSkillContainers.metalworking.items[2]"
                      contextSlot="2"
                      [containerUUID]="colyseusGame.showMetalworking.uuid"
                      context="Tradeskill:Metalworking"></app-item>
          </div>
        </div>

      </div>

      <div class="row mt-3">
        <div class="col-8 text-center">
          <h3>Upgrade Item</h3>
        </div>
        <div class="col-4 text-center">
          <button class="btn btn-primary btn-block" [disabled]="upgradeDisabled" (click)="upgrade()">Upgrade</button>
        </div>
      </div>

      <div class="row mt-1 margin-left border border-primary"></div>

      <div class="row mt-3">
        <div class="col col-4 item-row">
          <div class="item-slot item-background"
               droppable
               dropScope="metalworking"
               (onDrop)="colyseusGame.buildDropAction($event, 'Tradeskill:Metalworking:3')">
            <span class="item-slot-bg-text" *ngIf="!player.tradeSkillContainers.metalworking.items[3]">Upgrade Item</span>
            <app-item size="normal"
                      *ngIf="player.tradeSkillContainers.metalworking.items[3]"
                      [item]="player.tradeSkillContainers.metalworking.items[3]"
                      contextSlot="3"
                      [containerUUID]="colyseusGame.metalworking.uuid"
                      context="Tradeskill:Metalworking"></app-item>
          </div>
        </div>

        <div class="col col-4 item-row">
          <div class="item-slot item-background"
               droppable
               dropScope="metalworking"
               (onDrop)="colyseusGame.buildDropAction($event, 'Tradeskill:Metalworking:4')">
            <span class="item-slot-bg-text" *ngIf="!player.tradeSkillContainers.metalworking.items[4]">Upgrade Reagent</span>
            <app-item size="normal"
                      *ngIf="player.tradeSkillContainers.metalworking.items[4]"
                      [item]="player.tradeSkillContainers.metalworking.items[4]"
                      contextSlot="4"
                      [containerUUID]="colyseusGame.showMetalworking.uuid"
                      context="Tradeskill:Metalworking"></app-item>
          </div>
        </div>

        <div class="col col-4 item-row">
          <div class="item-slot item-background">
            <span class="item-slot-bg-text" *ngIf="!player.tradeSkillContainers.metalworking.items[5]">Upgrade Result</span>
            <app-item size="normal"
                      *ngIf="player.tradeSkillContainers.metalworking.items[5]"
                      [item]="player.tradeSkillContainers.metalworking.items[5]"
                      contextSlot="5"
                      [containerUUID]="colyseusGame.showMetalworking.uuid"
                      context="Tradeskill:Metalworking"></app-item>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col text-center" [class.text-danger]="successChance <= 25" *ngIf="showInfo">
          Chance of success: {{ successChance }}% (Item is currently +{{ player.tradeSkillContainers.metalworking.upgradeItem.enchantLevel || 0 }})
        </div>
      </div>

    </div>

    <div class="col-4">

      <div class="row">
        <div class="col-12"><h3 class="text-center">Ore</h3></div>
      </div>

      <div class="row">

        <div class="col col-12">
          <table class="table table-sm">
            <tr *ngFor="let brick of ingotTypes">
              <td>{{ brick }}</td>
              <td>{{ oreValue(brick) | number }}</td>
              <td class="text-right"><button class="btn btn-outline-primary btn-sm" [disabled]="!canSmeltIngot(brick)" (click)="smelt(brick)">Ingot</button></td>
            </tr>
          </table>
        </div>

      </div>
    </div>
  </div>

</div>
