<div class="bank-container p-1 w-100">
  <div class="row">

    <div class="col-6">
      <div class="row mb-1">
        <div class="col">
          <h4 class="w-100 text-center">Bank Teller</h4>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col">
          <div class="w-100 text-center">Welcome to the {{ colyseusGame.showBank.bankId }} National Bank.</div>
          <div class="w-100 text-center">You have {{ currentBankGold | number }} gold on deposit here.</div>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col">
          <input class="form-control" type="number" [(ngModel)]="bankNumber" />
        </div>
      </div>

      <div class="row mb-1">
        <div class="col-6">
          <button class="btn btn-primary btn-block" (click)="colyseusGame.withdraw(bankNumber)">Withdraw</button>
        </div>
        <div class="col-6">
          <button class="btn btn-primary btn-block" (click)="colyseusGame.deposit(bankNumber)">Deposit</button>
        </div>
      </div>

      <div class="row mb-1">
        <div class="col-6">
          <button class="btn btn-primary btn-block" (click)="colyseusGame.withdraw(colyseusGame.showBank.banks[colyseusGame.showBank.bankId])">Withdraw All</button>
        </div>
        <div class="col-6">
          <button class="btn btn-primary btn-block" (click)="colyseusGame.deposit(colyseusGame.character.gold)">Deposit All</button>
        </div>
      </div>

    </div>

    <div class="col-6 d-flex flex-wrap flex-column">
      <h4 class="w-100 text-center">Balances</h4>

      <table class="table table-sm table-striped">
        <tr *ngFor="let bank of allBanks">
          <td class="text-right"><strong>{{ bank }}</strong></td>
          <td>{{ (colyseusGame.showBank.banks[bank] || 0) | number }} gold</td>
        </tr>
      </table>
    </div>

  </div>
</div>
