<table class="table table-bordered m-0">
  <tr>
    <th><app-icon name="katana" tooltip="One-Handed Swords"></app-icon></th>
    <td>{{ currentPlayer.skills.onehanded }}</td>

    <th><app-icon name="relic-blade" tooltip="Two-Handed Swords"></app-icon></th>
    <td>{{ currentPlayer.skills.twohanded }}</td>

    <th><app-icon name="gladius" tooltip="Shortswords"></app-icon></th>
    <td>{{ currentPlayer.skills.shortsword }}</td>
  </tr>

  <tr>
    <th><app-icon name="bo" tooltip="Staves"></app-icon></th>
    <td>{{ currentPlayer.skills.staff}}</td>

    <th><app-icon name="sharp-halberd" tooltip="Polearms"></app-icon></th>
    <td>{{ currentPlayer.skills.polearm }}</td>

    <th><app-icon name="battered-axe" tooltip="Axes"></app-icon></th>
    <td>{{ currentPlayer.skills.axe}}</td>
  </tr>

  <tr>
    <th><app-icon name="plain-dagger" tooltip="Daggers"></app-icon></th>
    <td>{{ currentPlayer.skills.dagger }}</td>

    <th><app-icon name="flanged-mace" tooltip="Maces"></app-icon></th>
    <td>{{ currentPlayer.skills.mace }}</td>

    <th><app-icon name="black-belt" tooltip="Martial"></app-icon></th>
    <td>{{ currentPlayer.skills.martial }}</td>
  </tr>

  <tr>
    <th><app-icon name="high-shot" tooltip="Ranged Weapons"></app-icon></th>
    <td>{{ currentPlayer.skills.ranged }}</td>

    <th><app-icon name="thrown-spear" tooltip="Throwing Weapons"></app-icon></th>
    <td>{{ currentPlayer.skills.throwing}}</td>

    <th><app-icon name="two-shadows" tooltip="Thievery"></app-icon></th>
    <td>{{ currentPlayer.skills.thievery }}</td>
  </tr>

  <tr>
    <th><app-icon name="orb-wand" tooltip="Magical Weapons"></app-icon></th>
    <td>{{ currentPlayer.skills.wand }}</td>

    <th><app-icon name="ankh" tooltip="Restoration Magic"></app-icon></th>
    <td>{{ currentPlayer.skills.conjuration }}</td>

    <th><app-icon name="enlightenment" tooltip="Conjuration Magic"></app-icon></th>
    <td>{{ currentPlayer.skills.restoration }}</td>
  </tr>

</table>
