<table class="table table-bordered m-0">
  <tr>
    <th><app-icon name="katana" tooltip="One-Handed Swords"></app-icon></th>
    <td class="text-center">{{ getSkillName('onehanded') }}</td>

    <th><app-icon name="relic-blade" tooltip="Two-Handed Swords"></app-icon></th>
    <td class="text-center">{{ getSkillName('twohanded') }}</td>

    <th><app-icon name="gladius" tooltip="Shortswords"></app-icon></th>
    <td class="text-center">{{ getSkillName('shortsword') }}</td>
  </tr>

  <tr>
    <th><app-icon name="bo" tooltip="Staves"></app-icon></th>
    <td class="text-center">{{ getSkillName('staff') }}</td>

    <th><app-icon name="sharp-halberd" tooltip="Polearms"></app-icon></th>
    <td class="text-center">{{ getSkillName('polearm') }}</td>

    <th><app-icon name="battered-axe" tooltip="Axes"></app-icon></th>
    <td class="text-center">{{ getSkillName('axe') }}</td>
  </tr>

  <tr>
    <th><app-icon name="plain-dagger" tooltip="Daggers"></app-icon></th>
    <td class="text-center">{{ getSkillName('dagger') }}</td>

    <th><app-icon name="flanged-mace" tooltip="Maces"></app-icon></th>
    <td class="text-center">{{ getSkillName('mace') }}</td>

    <th><app-icon name="black-belt" tooltip="Martial"></app-icon></th>
    <td class="text-center">{{ getSkillName('martial') }}</td>
  </tr>

  <tr>
    <th><app-icon name="high-shot" tooltip="Ranged Weapons"></app-icon></th>
    <td class="text-center">{{ getSkillName('ranged') }}</td>

    <th><app-icon name="thrown-spear" tooltip="Throwing Weapons"></app-icon></th>
    <td class="text-center">{{ getSkillName('throwing') }}</td>

    <th><app-icon name="two-shadows" tooltip="Thievery"></app-icon></th>
    <td class="text-center">{{ getSkillName('thievery') }}</td>
  </tr>

  <tr>
    <th><app-icon name="orb-wand" tooltip="Magical Weapons"></app-icon></th>
    <td class="text-center">{{ getSkillName('wand') }}</td>

    <th><app-icon name="ankh" tooltip="Restoration Magic"></app-icon></th>
    <td class="text-center">{{ getSkillName('conjuration') }}</td>

    <th><app-icon name="enlightenment" tooltip="Conjuration Magic"></app-icon></th>
    <td class="text-center">{{ getSkillName('restoration') }}</td>
  </tr>

</table>
