<div class="row ml-0 mr-0">

  <div class="col-8 d-flex flex-row flex-wrap p-0"
       [class.justify-content-center]="colyseusGame.character.effects.length === 0"
       droppable
       dropScope="use"
       (onDrop)="colyseusGame.buildUseAction($event.dragData.item, $event.dragData.context, $event.dragData.contextSlot)">
    <div class="vertical-center h-100 background-text" *ngIf="colyseusGame.character.effects.length === 0">You have no status effects.</div>
    <div *ngFor="let effect of colyseusGame.character.effects" class="effect-container">
      <app-status-effect [effect]="effect" (click)="tryUnapplying(effect)"></app-status-effect>
    </div>
  </div>

  <div class="col-4 p-0">
    <div class="row m-0 needs-min-height">
      <div class="col p-0">

        <div class="progress" tooltip="HP" container="body" [class.critical]="healthPercent < 20">
          <div class="progress-bar bg-danger" [style.width]="healthPercent + '%'"></div>
          <div class="progress-bar-text">{{ colyseusGame.character.hp.__current }}/{{ colyseusGame.character.hp.maximum }}</div>
        </div>

      </div>
      <div class="col-6 p-0" *ngIf="colyseusGame.character.mp.maximum > 0">

        <div class="progress" tooltip="MP" container="body">
          <div class="progress-bar bg-primary" [style.width]="magicPercent + '%'"></div>
          <div class="progress-bar-text">{{ colyseusGame.character.mp.__current }}/{{ colyseusGame.character.mp.maximum }}</div>
        </div>

      </div>
    </div>
    <div class="row m-0 needs-min-height">
      <div class="col-12 p-0">

        <div class="progress" [tooltip]="'Experience Level ' + colyseusGame.character.level" container="body">
          <div class="progress-bar bg-success" [style.width]="xpPercent + '%'"></div>
          <div class="progress-bar-text">{{ colyseusGame.character.exp | number }}</div>
        </div>

      </div>
    </div>
  </div>
</div>
