<div class="row ml-0 mr-0">
  <div class="col-8 d-flex flex-row flex-wrap p-0" [class.justify-content-center]="player.effects.length === 0">
    <div class="vertical-center h-100 background-text" *ngIf="player.effects.length === 0">You have no status effects.</div>
    <div *ngFor="let effect of player.effects" class="effect-container">
      <app-status-effect [effect]="effect"></app-status-effect>
    </div>
  </div>
  <div class="col-4 p-0">
    <div class="row m-0">
      <div class="col-6 p-0">
        <div class="btn btn-outline-danger no-border-radius" disabled tooltip="HP">{{ player.hp.__current }}/{{ player.hp.maximum }}</div>
      </div>
      <div class="col-6 p-0">
        <div class="btn btn-outline-primary no-border-radius" disabled tooltip="MP">{{ player.mp.__current }}/{{ player.mp.maximum }}</div>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12 p-0">
        <div class="btn btn-outline-success no-border-radius" disabled [tooltip]="'EXP: Level ' + player.level">{{ player.exp | number }}</div>
      </div>
    </div>
  </div>
</div>
