.upper-container, .lower-container {
  max-height: 140px;
  min-height: 140px;

  width: 370px;

  display: flex;
  flex-wrap: wrap;

  overflow-y: auto;

  padding: 5px;

  .item-type {
    margin: 2px;
    width: 64px;
    height: 64px;
  }
}

.upper-container {
  .item-type {
    &.selected {
      outline: 1px solid #555;
    }
  }
}

.lower-container {
  border-top: 1px solid #000;

  app-item {
    margin: 2px;
  }
}
