.upper-container, .lower-container {
  max-height: 140px;
  min-height: 140px;

  width: 385px;

  &.small {
    max-height: 108px;
    min-height: 108px;

    width: 290px;

    .item-type {
      width: 48px;
      height: 48px;
    }

    app-item {
      width: 48px;
      height: 48px;
    }
  }

  &.xsmall {
    max-height: 76px;
    min-height: 76px;

    width: 210px;

    .item-type {
      width: 32px;
      height: 32px;
    }

    app-item {
      width: 32px;
      height: 32px;
    }
  }

  display: flex;
  flex-wrap: wrap;

  overflow-y: auto;

  padding: 5px;

  .item-type {
    margin: 2px;
    width: 64px;
    height: 64px;
    user-select: none;
  }
}

.upper-container {
  .item-type {
    &.selected {
      outline: 1px solid #555;
    }
  }
}

.lower-container {
  border-top: 1px solid #000;

  app-item {
    margin: 2px;
  }
}
