
.char-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  .char-card-container {
    display: flex;
    flex-direction: row;
    max-height: 50px;
    margin-top: 4px;
    position: relative;

    .char-target {
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-content: center;

      .circle {
        position: absolute;
        border-radius: 50%;
        border: 1px solid #000;
        left: 0;
        right: 0;
        margin: auto;

        top: 50%;
        transform: translateY(-50%);
        z-index: 650;

        &.outer {
          width: 24px;
          height: 24px;
          background-color: #b20000;
        }

        &.middle {
          width: 18px;
          height: 18px;
          background-color: #fff;
        }

        &.inner {
          width: 12px;
          height: 12px;
          background-color: #b20000;
        }

        &.innermost {
          width: 6px;
          height: 6px;
          background-color: #fff;
        }
      }
    }

    .char-left-container {
      width: 20px;
      max-width: 20px;
      margin-left: 2px;
      margin-top: 2px;

      .char-health {
        border: 1px solid #000;
        border-right: none;
        border-bottom: none;
        min-height: 17px;
        max-height: 17px;
      }

      .char-direction {
        border: 1px solid #000;
        border-right: none;
        max-height: 18px;
        font-weight: bold;
      }

    }

    .friendly {
      background-color: #003a00;
      color: white;
    }

    .angry {
      background-color: #b20000;
      color: white;
    }

    .neutral {
      background-color: #bbb;
      color: black;
    }

    .char-card {
      max-width: 120px;
      max-height: 50px;

      display: flex;
      flex-direction: column;

      border: 1px solid #000;
      border-left: none;

      margin-top: 2px;

      cursor: cell;

      .char-title {
        height: 18px;

        .char-name {
          user-select: none;
          padding-left: 2px;
          padding-right: 2px;
          font-size: 0.9rem;
          letter-spacing: 1.5px;
          overflow: hidden;
          max-width: 96px;
          line-height: 16px;
          min-height: 17px;
          max-height: 17px;
        }
      }

      .char-gear {
        display: flex;
        flex-direction: row;

        .gear-item {
          width: 32px !important;
          height: 32px !important;
          outline: 1px solid #000;
          background: #b7b19e;
          background: linear-gradient(135deg, #b7b19e 0%, #777466 65%, #36332c 100%);
        }
      }
    }
  }

}
