<table class="table table-bordered m-0">
  <tr>
    <th><app-icon name="biceps" tooltip="STR" container="body" bgColor="transparent"></app-icon></th>
    <td>{{ stats.str }} ({{ stats.str }})</td>

    <th><app-icon name="bowman" tooltip="DEX" container="body" bgColor="transparent"></app-icon></th>
    <td>{{ stats.dex }} ({{ stats.dex }})</td>

    <th><app-icon name="sprint" tooltip="AGI" container="body" bgColor="transparent"></app-icon></th>
    <td>{{ stats.agi }} ({{ stats.agi }})</td>
  </tr>

  <tr>
    <th><app-icon name="bookmarklet" tooltip="INT" container="body" bgColor="transparent"></app-icon></th>
    <td>{{ stats.int }} ({{ stats.int }})</td>

    <th><app-icon name="embrassed-energy" tooltip="WIS" container="body" bgColor="transparent"></app-icon></th>
    <td>{{ stats.wis }} ({{ stats.wis }})</td>

    <th><app-icon name="aura" tooltip="WIL" container="body" bgColor="transparent"></app-icon></th>
    <td>{{ stats.wil }} ({{ stats.wil }})</td>
  </tr>

  <tr>
    <th><app-icon name="glass-heart" tooltip="CON" container="body" bgColor="transparent"></app-icon></th>
    <td>{{ stats.con }} ({{ stats.con }})</td>

    <th><app-icon name="rose" tooltip="CHA" container="body" bgColor="transparent"></app-icon></th>
    <td>{{ stats.cha }} ({{ stats.cha }})</td>

    <th><app-icon name="clover" tooltip="LUK" container="body" bgColor="transparent"></app-icon></th>
    <td>{{ stats.luk }} ({{ stats.luk }})</td>
  </tr>
</table>
