<div class="row w-100 ml-0">
  <div class="btn-group col-sm-2 p-0" dropdown dropup="true" container="body" placement="top">
        
    <button class="btn no-border-radius w-100"
          [class.btn-primary]="cmdMode === 'cmd'"
          [class.btn-success]="cmdMode === 'say'"
          [class.btn-info]="cmdMode === 'party'"
          [class.btn-danger]="cmdMode === 'global'"
          dropdownToggle>{{ buttonText }}:</button>
        
    <ul *dropdownMenu class="dropdown-menu">
      <li role="menuitem"><a class="dropdown-item btn-primary" (click)="cmdMode = 'cmd'">Cmd</a></li>
      <li role="menuitem"><a class="dropdown-item btn-success" (click)="cmdMode = 'say'">Say</a></li>
      <li role="menuitem"><a class="dropdown-item btn-info" (click)="cmdMode = 'party'">Party</a></li>
      <li role="menuitem"><a class="dropdown-item btn-danger" (click)="cmdMode = 'global'">Global</a></li>
    </ul>
  </div>

  <input class="no-border-radius form-control col-sm-10"
        #cmdEntry
        [(ngModel)]="colyseusGame.currentCommand"
        (keyup.arrowup)="prevCommand($event)"
        (keyup.arrowdown)="nextCommand($event)"
        (keyup.enter)="sendCommand()"
        autocorrect="off"
        autocomplete="off"
        autocapitalize="off"
        spellcheck="false"
        [placeholder]="placeholder" />

</div>
