
.thin-line {
  line-height: 1.2em;
  min-height: 1.2em;
}

nav {
  min-height: 42px;
  max-height: 42px;

  border-bottom: 1px solid #000;

  .options-bar {
    justify-content: space-between;

    li {
      min-height: 42px;
      max-height: 42px;

      &:not(:last-child) {
        border-right: 1px solid #000;
      }

      width: 25%;
      text-align: center;

      &.active {
        background-color: #444;
        font-weight: 500;
      }
    }
  }
}

.spinning-loader {

  @keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
  }

  app-icon {
    margin-right: 15px;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

.content {
  height: calc(500px - 42px);
}

input {
  border: 1px solid #aaa;
}

.vertical-center span {
  margin: 20%;
  text-align: center;
}

.buy {
  .left-side {
    width: 33.33% !important;
    border-right: 1px solid #000;

    .buy-header {
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      background-color: darken(#343a40, 10%);
    }
  }

  .right-side {

    overflow: auto;

    .listing-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.item-slot {
  margin: 5px;
}
