
.item-slot {
  margin: 5px;
}

.left-side {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.left-side, .right-side, .slot-center {
  display: flex;
  justify-content: center;
}

.right-side {
  flex-direction: column;
}

.title {
  user-select: none;
}
