
<div class="d-flex flex-column p-1 w-100">

  <div class="row mt-3">
    <div class="col-8">
      <div class="row">

        <div class="col-4 text-center">
        </div>
        <div class="col-4 text-center">
          <button class="btn btn-warning btn-block" [disabled]="disenchantDisabled" (click)="disenchant()">Disenchant</button>
        </div>
        <div class="col-4 text-center">
          <button class="btn btn-primary btn-block" [disabled]="enchantDisabled" (click)="enchant()">Enchant</button>
        </div>

      </div>

      <div class="row mt-1 margin-left border border-primary"></div>

      <div class="row mt-3">
        <div class="col col-4 item-row">
          <div class="item-slot item-background"
               droppable
               dropScope="spellforging"
               (onDrop)="colyseusGame.buildDropAction($event, 'Tradeskill:Spellforging:0')">
            <span class="item-slot-bg-text" *ngIf="!items[0]">Subject Item</span>
            <app-item size="normal"
                      [item]="items[0]"
                      contextSlot="0"
                      [showCount]="true"
                      [containerUUID]="colyseusGame.showSpellforging.uuid"
                      tooltipPlacement="bottom"
                      context="Tradeskill:Spellforging"></app-item>
          </div>
        </div>

        <div class="col col-4 item-row">
          <div class="item-slot item-background"
               droppable
               dropScope="spellforging"
               (onDrop)="colyseusGame.buildDropAction($event, 'Tradeskill:Spellforging:1')">
            <span class="item-slot-bg-text" *ngIf="!items[1]">Reagent Item</span>
            <app-item size="normal"
                      [item]="items[1]"
                      contextSlot="1"
                      [containerUUID]="colyseusGame.showSpellforging.uuid"
                      tooltipPlacement="bottom"
                      context="Tradeskill:Spellforging"></app-item>
          </div>
        </div>

        <div class="col col-4 item-row">
          <div class="item-slot item-background">
            <span class="item-slot-bg-text" *ngIf="!items[2]">Result Item</span>
            <app-item size="normal"
                      [item]="items[2]"
                      contextSlot="2"
                      [showCount]="true"
                      [containerUUID]="colyseusGame.showSpellforging.uuid"
                      tooltipPlacement="bottom"
                      context="Tradeskill:Spellforging"></app-item>
          </div>
        </div>
      </div>

      <div class="row mt-3">

        <div class="col text-center" *ngIf="player && player.tradeSkillContainers.spellforging.modifyItem">
          Item is currently +{{ player.tradeSkillContainers.spellforging.modifyItem.enchantLevel || 0 }}
        </div>
        <div class="col" [class.hidden]="showInfo"></div>
        <div class="col text-center" [class.text-danger]="successChance <= 25" [class.hidden]="!showInfo">
          Chance of success: {{ successChance }}%
        </div>
      </div>

      <div class="row mt-3">
        <div class="col text-center text-warning" *ngIf="hasWarning">
          Warning: {{ formatTrait(player.tradeSkillContainers.spellforging.modifyItem) }} will be overwritten by {{ formatTrait(player.tradeSkillContainers.spellforging.reagent) }}!
        </div>
      </div>

      <div class="row mt-3">
        <div class="col text-center text-warning" *ngIf="hasEffectWarning">
          Warning: {{ player.tradeSkillContainers.spellforging.modifyItem.effect.name }} Lv {{ player.tradeSkillContainers.spellforging.modifyItem.effect.potency }} will be overwritten by {{ player.tradeSkillContainers.spellforging.reagent.effect.name }} Lv {{ player.tradeSkillContainers.spellforging.reagent.effect.potency }}!
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="row">

        <div class="col col-3">
          <h3 class="text-center">Dust</h3>
        </div>

      </div>

      <div class="row">
        <div class="col-12">
          <table class="table table-sm">
            <tr *ngFor="let brick of brickTypes">
              <td>{{ brick }}</td>
              <td>{{ dustValue(brick) | number }}</td>
              <td class="text-right"><button class="btn btn-outline-primary btn-sm" [disabled]="!canBuyBrick(brick)" (click)="forge(brick)">Brick</button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>

</div>
