<div class="p-1 item-container d-flex flex-wrap">

  <!-- top row (gold, helm, neck) -->
  <div class="item-slot"></div>

  <div class="item-slot item-background">
    <span class="item-slot-bg-text {{ size }}" *ngIf="!player.gear.Ear">Earring</span>
    <app-item [size]="size" [item]="player.gear.Ear" *ngIf="player.gear.Ear"></app-item>
  </div>

  <div class="item-slot item-background">
    <span class="item-slot-bg-text {{ size }}" *ngIf="!player.gear.Head">Helm</span>
    <app-item [size]="size" [item]="player.gear.Head" *ngIf="player.gear.Head"></app-item>
  </div>

  <div class="item-slot item-background">
    <span class="item-slot-bg-text {{ size }}" *ngIf="!player.gear.Neck">Amulet</span>
    <app-item [size]="size" [item]="player.gear.Neck" *ngIf="player.gear.Neck"></app-item>
  </div>

  <div class="item-slot"></div>

  <!-- next row (sash, bracers) -->
  <div class="item-slot item-background">
    <span class="item-slot-bg-text {{ size }}" *ngIf="!player.gear.Waist">Sash</span>
    <app-item [size]="size" [item]="player.gear.Waist" *ngIf="player.gear.Waist"></app-item>
  </div>

  <div class="item-slot"></div>
  <div class="item-slot"></div>
  <div class="item-slot"></div>

  <div class="item-slot item-background">
    <span class="item-slot-bg-text {{ size }}" *ngIf="!player.gear.Wrists">Bracers</span>
    <app-item [size]="size" [item]="player.gear.Wrists" *ngIf="player.gear.Wrists"></app-item>
  </div>

  <!-- next row (ring, lefthand, righthand, ring) -->
  <div class="item-slot item-background">
    <span class="item-slot-bg-text {{ size }}" *ngIf="!player.gear.Ring1">Ring</span>
    <app-item [size]="size" [item]="player.gear.Ring1" *ngIf="player.gear.Ring1"></app-item>
  </div>

  <div class="item-slot item-background">
    <span class="item-slot-bg-text {{ size }}" *ngIf="!player.rightHand">Right Hand</span>
    <app-item [size]="size"
              [item]="player.rightHand"
              *ngIf="player.rightHand"></app-item>
  </div>

  <div class="item-slot"></div>

  <div class="item-slot item-background">
    <span class="item-slot-bg-text {{ size }}" *ngIf="!player.leftHand">Left Hand</span>
    <app-item [size]="size"
              [item]="player.leftHand"
              *ngIf="player.leftHand"></app-item>
  </div>

  <div class="item-slot item-background">
    <span class="item-slot-bg-text {{ size }}" *ngIf="!player.gear.Ring2">Ring</span>
    <app-item [size]="size" [item]="player.gear.Ring2" *ngIf="player.gear.Ring2"></app-item>
  </div>

  <!-- next row (gloves, boots) -->
  <div class="item-slot item-background">
    <span class="item-slot-bg-text {{ size }}" *ngIf="!player.gear.Hands">Gloves</span>
    <app-item [size]="size" [item]="player.gear.Hands" *ngIf="player.gear.Hands"></app-item>
  </div>

  <div class="item-slot"></div>
  <div class="item-slot"></div>
  <div class="item-slot"></div>

  <div class="item-slot item-background">
    <span class="item-slot-bg-text {{ size }}" *ngIf="!player.gear.Feet">Boots</span>
    <app-item [size]="size" [item]="player.gear.Feet" *ngIf="player.gear.Feet"></app-item>
  </div>

  <!-- last row (potion, armor, robe, robe) -->
  <div class="item-slot item-background">
    <span class="item-slot-bg-text {{ size }}" *ngIf="!player.potionHand">Potion</span>
    <app-item [size]="size" [item]="player.potionHand" *ngIf="player.potionHand"></app-item>
  </div>

  <div class="item-slot item-background">
    <span class="item-slot-bg-text {{ size }}" *ngIf="!player.gear.Armor">Armor</span>
    <app-item [size]="size" [item]="player.gear.Armor" *ngIf="player.gear.Armor"></app-item>
  </div>

  <div class="item-slot item-background">
    <span class="item-slot-bg-text {{ size }}" *ngIf="!player.gear.Robe1">Robe</span>
    <app-item [size]="size" [item]="player.gear.Robe1" *ngIf="player.gear.Robe1"></app-item>
  </div>

  <div class="item-slot item-background">
    <span class="item-slot-bg-text {{ size }}" *ngIf="!player.gear.Robe2">Robe</span>
    <app-item [size]="size" [item]="player.gear.Robe2" *ngIf="player.gear.Robe2"></app-item>
  </div>
  <div class="item-slot"></div>

</div>
