
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/sweetalert2/dist/sweetalert2.css';
@import '../../node_modules/ng-drag-drop/style.css';

// FONT SPECIFIC ADJUSTMENTS
@font-face {
  font-family: 'ActualFantasy';
  src: url('assets/fonts/Dumbledor2.eot');
  src: url('assets/fonts/Dumbledor2.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/Dumbledor2.woff2') format('woff2'),
       url('assets/fonts/Dumbledor2.woff') format('woff'),
       url('assets/fonts/Dumbledor2.ttf') format('truetype'),
       url('assets/fonts/Dumbledor2.svg#Dumbledor2') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ActualFantasyWide';
  src: url('assets/fonts/Dumbledor2Wide.eot');
  src: url('assets/fonts/Dumbledor2Wide.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/Dumbledor2Wide.woff2') format('woff2'),
       url('assets/fonts/Dumbledor2Wide.woff') format('woff'),
       url('assets/fonts/Dumbledor2Wide.ttf') format('truetype'),
       url('assets/fonts/Dumbledor2Wide.svg#Dumbledor2Wide') format('svg');
  font-weight: normal;
  font-style: normal;
}

body:not(.no-fantasy) {

  *:not(.macicons) {
    font-family: 'ActualFantasy', cursive !important;
    letter-spacing: 0.5px;
  }

  .window-header {
    font-family: 'ActualFantasyWide', cursive !important;
    font-weight: bold;

    & > * {
      font-family: 'ActualFantasyWide', cursive !important;
    }
  }

  .header {
    font-family: 'ActualFantasyWide', cursive !important;
    font-weight: bold;
  }

  .loading-text {
    font-family: 'ActualFantasyWide', cursive !important;
    font-weight: bold;
  }

}

body.no-fantasy {
  font-family: 'Roboto', sans-serif;

  .message-container .message {
    letter-spacing: 0 !important;

    strong {
      letter-spacing: 0.5px !important;
    }
  }

  .char-card .char-name {
    letter-spacing: 0 !important;
    font-size: 0.8rem !important;
  }

  .item-container {
    .value, .ounces, .count {
      font-size: 0.7rem !important;
    }
  }

  // lobby
  .chat-area {
    .message {
      font-size: 1rem !important;
    }
  }
}

// END FONT SPECIFIC ADJUSTMENTS

// THEME SPECIFIC ADJUSTMENTS

body {

  $background-dark: rgba(50, 50, 50, 0.1);
  $background-light: rgba(200, 200, 200, 0.1);

  background-color: #8c3310;
  background-image:
    repeating-linear-gradient(120deg, $background-light, $background-light 1px, transparent 1px, transparent 60px),
    repeating-linear-gradient(60deg, $background-light, $background-light 1px, transparent 1px, transparent 60px),
    linear-gradient(60deg, $background-dark 15%, transparent 15%, transparent 85%, $background-dark 85%, $background-dark),
    linear-gradient(120deg, $background-dark 15%, transparent 15%, transparent 85%, $background-dark 85%, $background-dark);
  background-size: 70px 120px;
  background-attachment: fixed;
  overflow: visible;
  height: 100vh;

  .navbar a:not(.navbar-brand) {
    color: #ccc !important;
  }
}

@import './styles.body.dark';
@import './styles.body.light';

.body-container {
  height: calc(100vh - 56px);
}

// END THEME SPECIFIC ADJUSTMENTS

.color-picker {
  left: 15px !important;
}

.hidden {
  display: none !important;
}

.no-border-radius {
  border-radius: 0;
}

.no-border-radius-left {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.background-text {
  color: #aaa;
  user-select: none;
}

.item-background {
  background-color: #ccc;
  box-shadow: 3px 3px 5px #aaa;
  border-radius: 3px;
}


.item-slot {
  width: 64px;
  height: 64px;
}

.small {
  .item-slot {
    width: 48px;
    height: 48px;
  }
}

.xsmall {
  .item-slot {
    width: 32px;
    height: 32px;
  }
}

.drag-over-border {
  border: none !important;
  outline: 3px dashed green !important;
  outline-offset: -2px;
}

.drag-hint-border {
  border: none !important;
  outline: 3px dashed blue;
  background-color: rgba(0, 0, 255, 0.2);
  outline-offset: -2px;
}

.drag-border {
  border: none !important;
  outline: 3px dashed red;
}

.macro-popover {
  width: 464px !important;
  max-width: 464px !important;
}

bs-modal-backdrop {
  z-index: 4090 !important;
}

.swal2-container, bs-dropdown-container, bs-tooltip-container, .modal, .sh-context--container  {
  z-index: 5000 !important;
}

popover-container {
  z-index: 5100 !important;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
  color: lighten(#00254d, 40%);

  &:hover {
    color: lighten(#00254d, 60%);
  }
}


.progress {
  position: relative;

  .progress-bar-text {
    position: absolute;
    text-align: center;
    width: 100%;
    color: #000 !important;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  }
}

.modal-footer {
  justify-content: space-between;
}

walkthrough-container {
  z-index: 20000 !important;

  /deep/ .wkt-content-block {
    max-width: 50%;
    left: 15% !important;
  }
}

bs-tooltip-container {
  pointer-events: none;
}

.btn-short {
  line-height: 1.25;
}
