
.hidden {
  display: none !important;
}

.no-border-radius {
  border-radius: 0;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-text {
  color: #aaa;
}

.item-background {
  background-color: #ccc;
  box-shadow: 3px 3px 5px #aaa;
  z-index: 520;
}

.item-slot {
  width: 64px;
  height: 64px;
}

.window {

  &.minimized {
    min-height: 0 !important;
  }

  &.game-window {
    z-index: 700;
  }

  &.above-game-window {
    z-index: 800;
  }

  &.character-select {
    min-height: 215px;
    min-width: 200px;

    max-width: 300px;
  }

  &.lobby {
    min-height: 400px;
    min-width: 600px;

    max-width: 600px;
  }

  &.map {
    z-index: 400;

    .window-body {
      min-height: 576px;
      min-width: 576px;
    }
  }

  &.stats {
    max-width: 400px;
    min-width: 400px;

    min-height: 250px;
    max-height: 250px;

    .window-body > app-stats-window {
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &.command-line {
    min-width: 400px;
    max-width: 400px;
  }

  &.log-window {
    max-width: 400px;
    min-width: 400px;

    min-height: 400px;
    max-height: 400px;
  }

  &.status-window {
    min-width: 578px;

    .window-body {
      max-width: 576px;
      min-width: 576px;
    }
  }

  &.ground-window {
    min-width: 370px;
    max-width: 370px;

    .window-header {
      min-width: 370px;
    }

    .window-body {
      & > app-ground {
        flex-direction: column;
      }
    }
  }

  &.inventory-sack-window {
    min-width: 351px;
    max-width: 351px;
  }

  &.inventory-belt-window {
    min-width: 351px;
    max-width: 351px;
  }

  position: absolute !important;

  border: 1px solid #000;

  background-color: #fff;

  display: flex;
  flex-direction: column;

  &.cursor-draggable .window-header {
    cursor: grab;
  }

  &.cursor-draggable:active .window-header {
    cursor: grabbing;
  }

  .window-header {
    min-height: 28px;
    max-height: 28px;
    flex: 1;

    user-select: none;

    border-bottom: 1px solid #000;
  }

  .window-body {
    flex: 1;

    display: flex;
    flex-direction: column;

    & > * {
      height: 100%;
      display: flex;
      flex: 1;
    }
  }
}

