
$window-background-color: #aaa;
$window-header-background-color: #666;
$window-text-color: #000;
$window-placeholder-color: #333;
$window-border-style: ridge;
$window-border-color: #49200e;

body.light-theme {
  .window {

    &.active-window {
      z-index: 1050 !important;

      .window-header {
        background-color: darken($window-background-color, 50%);
        color: invert($window-text-color);
      }
    }

    .window-header {
      background-color: $window-header-background-color;
      border: 1px $window-border-style $window-background-color;
      color: $window-text-color;
    }

    .window-body {
      background-color: $window-background-color;
      color: $window-text-color;
      position: relative;
    }
  }

  .message.combat {
    &.other.block, &.other.miss {
      color: #666 !important;
    }

    &.self, &.heal {
      color: #070 !important;
    }
  }


  popover-container {
    padding: 0 !important;

    .popover-content {
      padding: 5px !important;
    }
  }

  .modal-content, popover-container, .popover-content, .swal2-modal, .swal2-title, .swal2-content {
    background-color: $window-background-color !important;
    color: $window-text-color !important;

    input, textarea {
      border-color: $window-text-color;
    }

  }

  .nav-tabs .nav-link {

    &.active {
      border-color: $window-text-color !important;
    }

    &:hover {
      background-color: darken($window-background-color, 10%) !important;
    }

    border-bottom-color: $window-text-color !important;
    background-color: $window-background-color !important;
    color: $window-text-color !important;
  }

  input, textarea, select {
    background-color: #ccc !important;
    color: $window-placeholder-color !important;
  }

  .dropdown-menu {
    background-color: $window-background-color !important;
    color: $window-placeholder-color !important;

    .dropdown-item {

      &:active, &:hover {
        background-color: lighten($window-background-color, 20%);
      }
    }
  }

  bs-dropdown-container {
    z-index: 1000;
    float: left;
    min-width: 10rem;
    font-size: 1rem;
    background-clip: padding-box;
    background-color: #fff;
    border-radius: 0.25rem;

    .dropdown-menu {
      display: block;
    }
  }

  .background-text {
    color: #444 !important;
  }
}
