
.color-picker {
  left: 15px !important;
}

.hidden {
  display: none !important;
}

.no-border-radius {
  border-radius: 0;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-text {
  color: #aaa;
}

.item-background {
  background-color: #ccc;
  box-shadow: 3px 3px 5px #aaa;
}


.item-slot {
  width: 64px;
  height: 64px;
}

.small {
  .item-slot {
    width: 48px;
    height: 48px;
  }
}

.xsmall {
  .item-slot {
    width: 32px;
    height: 32px;
  }
}

.window {

  &.minimized {
    min-height: 0 !important;
  }

  &.game-window {
    z-index: 700;
  }

  &.above-game-window {
    z-index: 800;
  }

  &.character-select {
    min-height: 215px;
    min-width: 200px;

    max-width: 300px;
  }

  &.lobby {
    min-height: 400px;
    min-width: 600px;

    max-width: 600px;

    z-index: 1000;
  }

  &.map {
    z-index: 400;
    min-height: 576px;
    min-width: 576px;

    .window-body {
      min-height: 576px;
      min-width: 576px;
      background-color: #000;
    }
  }

  &.stats {
    max-width: 537px;
    min-width: 537px;
  }

  &.skills {
    max-width: 537px;
    min-width: 537px;
  }

  &.command-line {
    min-width: 578px;
    max-width: 578px;
  }

  &.macro-bars {
    min-width: 578px;
    max-width: 578px;
  }

  &.log-window {
    max-width: 387px;
    min-width: 387px;

    &.max {
      min-height: calc(100% - 56px);
      max-height: calc(100% - 56px);

      .message-container {
        min-height: calc(100% - 56px - 28px);
        height: initial;
        max-height: calc(100% - 56px - 28px);
      }
    }
  }

  &.status-window {
    min-width: 578px;

    .window-body {
      max-width: 576px;
      min-width: 576px;
    }
  }

  &.ground-window {
    min-width: 387px;
    max-width: 387px;

    &.small {
      min-width: 292px;
      max-width: 292px;

      .window-header {
        min-width: 287px;
      }
    }

    &.xsmall {
      min-width: 211px;
      max-width: 211px;

      .window-header {
        min-width: 208px;
      }
    }

    z-index: 900;

    .window-header {
      min-width: 369px;
    }

    .window-body {
      & > app-ground {
        flex-direction: column;
      }
    }
  }

  &.inventory-sack-window, &.inventory-belt-window, &.equipment-window {
    min-width: 351px;
    max-width: 351px;

    &.small {
      min-width: 271px;
      max-width: 271px;
    }

    &.xsmall {
      min-width: 191px;
      max-width: 191px;
    }
  }

  &.npc-window {
    max-width: 387px;
    min-width: 387px;

    min-height: 310px;
    max-height: 310px;

    &.max {
      min-height: calc(100% - 56px);
      max-height: calc(100% - 56px);
    }

    &.xlarge {
      min-height: 526px;
      max-height: 526px;
    }

    &.large {
      min-height: 418px;
      max-height: 418px;
    }

    &.small {
      min-height: 202px;
      max-height: 202px;
    }

    &.xsmall {
      min-height: 94px;
      max-height: 94px;
    }
  }

  position: absolute !important;

  border: 1px solid #000;

  background-color: #fff;

  display: flex;
  flex-direction: column;

  &.cursor-draggable .window-header {
    cursor: grab;
  }

  &.cursor-draggable:active .window-header {
    cursor: grabbing;
  }

  .window-header {
    min-height: 28px;
    max-height: 28px;
    flex: 1;

    user-select: none;

    border-bottom: 1px solid #000;
  }

  .window-body {
    flex: 1;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    & > * {
      height: 100%;
      display: flex;
      flex: 1;
    }
  }
}

.sh-context--container {
  z-index: 1000 !important;
}

.drag-over-border {
  border: none !important;
  outline: 2px dashed green !important;
  outline-offset: -2px;
}

.drag-hint-border {
  border: none !important;
  outline: 2px dashed orange;
  outline-offset: -2px;
}

.drag-border {
  border: none !important;
  outline: 2px dashed red;
}

