
<div class="p-1 shop-container" droppable dropScope="merchant" (onDrop)="colyseusGame.buildDropAction($event, 'Merchant')">

  <div class="row mt-1">
    <div class="col text-center">
      You have
      {{ (colyseusGame.character.currency[colyseusGame.showShop.vendorCurrency || 'gold'] || 0) | number:0 }}
      {{ colyseusGame.showShop.vendorCurrency }}
      {{ colyseusGame.showShop.vendorCurrency ? 'tokens' : 'gold' }}.
    </div>
  </div>

  <div class="row mt-3 p-0">

    <div class="shop-area d-flex flex-wrap flex-row mb-3"
         [class.col-9]="!colyseusGame.showShop.vendorCurrency"
         [class.col-12]="colyseusGame.showShop.vendorCurrency">

      <h4 class="w-100 text-center">Vendor Items</h4>

      <div class="item-slot item-background" *ngFor="let slot of shopSlots">
        <app-item [item]="colyseusGame.showShop.vendorItems[slot]"
                  [containerUUID]="colyseusGame.showShop.uuid"
                  [showDesc]="true"
                  [showValue]="true"
                  [overrideValue]="overriddenValueDisplay(slot)"
                  [showOunces]="true"
                  context="Merchant"
                  tooltipPlacement="right"
                  [contextSlot]="slot"></app-item>
      </div>

    </div>

    <div class="col-3 buyback-area d-flex flex-wrap flex-column" [class.hidden]="colyseusGame.showShop.vendorCurrency">

      <h4 class="w-100 text-center">Buyback</h4>

      <div class="item-slot item-background" *ngFor="let slot of buybackSlots">
        <app-item [item]="colyseusGame.character.buyback[slot]"
                  [showDesc]="true"
                  [showValue]="true"
                  [showOunces]="true"
                  context="Obtainagain"
                  tooltipPlacement="right"
                  [contextSlot]="slot"></app-item>
      </div>
    </div>

  </div>

  <div class="row m-3 mb-3 p-0" [class.hidden]="colyseusGame.showShop.vendorCurrency || allSackItemTypes.length === 0">
    <h4 class="w-100 text-center">Sell From Sack</h4>

    <div class="col-4 text-right vertical-center">
      Sell all:
    </div>

    <div class="col-5">
      <select class="form-control" [(ngModel)]="sellType" placeholder="Select Item Type...">
        <option *ngFor="let itemType of allSackItemTypes">{{ itemType }}</option>
      </select>
    </div>

    <div class="col-3 text-right">
      <button class="btn btn-warning" [disabled]="!sellType" (click)="sellItemType()">Confirm</button>
    </div>

  </div>
</div>
