
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <a class="navbar-brand" href="#">
    <span>Land of the Rair</span>
    <span *ngIf="colyseus.lobby.myAccount">- {{ colyseus.lobby.myAccount.username }}</span>
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="colyseus.lobby.myAccount" dropdown container="body">
        <a class="nav-link" href="#" dropdownToggle>Game {{ colyseus.isConnected ? '' : '(Disconnected)' }}</a>

        <ul *dropdownMenu class="dropdown-menu">
          <li>
            <a class="dropdown-item" (click)="colyseus.lobby.logout()">Logout</a>
          </li>
        </ul>

      </li>
    </ul>

    <ul class="navbar-nav mr-auto" *ngIf="inGame">
      <li class="nav-item" *ngIf="colyseus.lobby.myAccount" dropdown container="body">
        <a class="nav-link" href="#" dropdownToggle>Windows</a>

        <ul *dropdownMenu class="dropdown-menu">
          <li>
            <a class="dropdown-item" (click)="showStatsWindow = !showStatsWindow">Stats</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="showCommandLine = !showCommandLine">Command Line</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="showInventoryBelt = !showInventoryBelt">Belt</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="showInventorySack = !showInventorySack">Sack</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="showEquipment = !showEquipment">Equipment</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="options.show()">Options</a>
          </li>
        </ul>

      </li>
    </ul>
  </div>
</nav>

<div class="window lobby game-window"
     [ng2-draggable]="true"
     [ng2DraggableHandle]="lobbyDrag"
     windowName="lobby"
     defaultX="576"
     defaultY="55"
     [class.minimized]="minimized['lobby']"
     [class.hidden]="!loggedIn || !colyseus.username || (inGame && autoHideLobby)">
  <div class="window-header text-center" #lobbyDrag>
    Lobby Chat ({{ colyseus.lobby.lobbyState.accounts.length }} Online)
    <app-minimize-button (click)="minimize('lobby')"></app-minimize-button>
  </div>
  <div class="window-body" [class.hidden]="minimized['lobby']">
    <app-lobby [lobbyState]="colyseus.lobby.lobbyState"></app-lobby>
  </div>
</div>

<div class="window character-select"
     [ng2-draggable]="true"
     [ng2DraggableHandle]="characterSelectDrag"
     windowName="chararacterSelect"
     defaultX="0"
     defaultY="55"
     [class.hidden]="!loggedIn || inGame || !colyseus.username">
  <div class="window-header text-center" #characterSelectDrag>Character Select</div>
  <div class="window-body">
    <app-character-select [lobbyState]="colyseus.lobby.lobbyState"></app-character-select>
  </div>
</div>

<div class="window map"
     [ng2-draggable]="true"
     [ng2DraggableHandle]="mapDrag"
     windowName="map"
     defaultX="379"
     defaultY="107"
     *ngIf="inGame">
  <div class="window-header text-center" #mapDrag>
    World
    <app-close-button (click)="colyseus.game.quit()"></app-close-button>
  </div>
  <div class="window-body">
    <app-map [clientGameState]="colyseus.game.clientGameState" [currentPlayer]="colyseus.game.character" *ngIf="!colyseus.game.isChangingMap"></app-map>
  </div>
</div>

<div class="window stats above-game-window"
     [ng2-draggable]="true"
     [ng2DraggableHandle]="statsDrag"
     windowName="stats"
     defaultX="670"
     defaultY="120"
     *ngIf="inGame && showStatsWindow">
  <div class="window-header text-center" #statsDrag>
    Stats
    <app-close-button (click)="showStatsWindow = false"></app-close-button>
  </div>
  <div class="window-body">
    <app-stats-window [currentPlayer]="colyseus.game.character"></app-stats-window>
  </div>
</div>

<div class="window command-line game-window"
     [ng2-draggable]="true"
     [ng2DraggableHandle]="commandLine"
     windowName="commandLine"
     defaultX="379"
     defaultY="816"
     *ngIf="inGame && showCommandLine">
  <div class="window-header text-center" #commandLine>
    Command Line
    <app-close-button (click)="showCommandLine = false"></app-close-button>
  </div>
  <div class="window-body">
    <app-command-line [rightClickSend]="rightClickSend"></app-command-line>
  </div>
</div>

<div class="window log-window game-window"
     [ng2-draggable]="true"
     [ng2DraggableHandle]="logWindow"
     windowName="logWindow"
     defaultX="3"
     defaultY="392"
     *ngIf="inGame">
  <div class="window-header text-center" #logWindow>
    Log
  </div>
  <div class="window-body">
    <app-log-window [clientGameState]="colyseus.game.clientGameState" [windowSize]="logWindowSize" [fontSize]="logFontSize"></app-log-window>
  </div>
</div>

<div class="window status-window game-window"
     [ng2-draggable]="true"
     [ng2DraggableHandle]="statusWindow"
     windowName="statusWindow"
     defaultX="379"
     defaultY="712"
     [class.minimized]="minimized['status']"
     *ngIf="inGame">
  <div class="window-header text-center" #statusWindow>
    <app-character-tagline [player]="colyseus.game.character"></app-character-tagline>
    <app-minimize-button (click)="minimize('status')"></app-minimize-button>
  </div>
  <div class="window-body" [class.hidden]="minimized['status']">
    <app-status-window [player]="colyseus.game.character"></app-status-window>
  </div>
</div>

<div class="window ground-window game-window {{ groundSize }}"
     [ng2-draggable]="true"
     [ng2DraggableHandle]="groundWindow"
     windowName="groundWindow"
     defaultX="3"
     defaultY="646"
     *ngIf="inGame && colyseus.game.showGround">
  <div class="window-header text-center" #groundWindow>
    Ground
    <app-close-button (click)="colyseus.game.showGround = false"></app-close-button>
  </div>
  <div class="window-body">
    <app-ground [size]="groundSize"></app-ground>
  </div>
</div>

<div class="window inventory-sack-window game-window {{ sackSize }}"
     [ng2-draggable]="true"
     [ng2DraggableHandle]="sackWindow"
     windowName="sackWindow"
     defaultX="962"
     defaultY="547"
     *ngIf="inGame && showInventorySack">
  <div class="window-header text-center" #sackWindow>
    Inventory - Sack
    <app-close-button (click)="showInventorySack = false"></app-close-button>
  </div>
  <div class="window-body">
    <app-inventory-sack [size]="sackSize" [player]="colyseus.game.character"></app-inventory-sack>
  </div>
</div>

<div class="window inventory-belt-window game-window {{ beltSize }}"
     [ng2-draggable]="true"
     [ng2DraggableHandle]="beltWindow"
     windowName="beltWindow"
     defaultX="962"
     defaultY="442"
     *ngIf="inGame && showInventoryBelt">
  <div class="window-header text-center" #beltWindow>
    Inventory - Belt
    <app-close-button (click)="showInventoryBelt = false"></app-close-button>
  </div>
  <div class="window-body">
    <app-inventory-belt [size]="beltSize" [player]="colyseus.game.character"></app-inventory-belt>
  </div>
</div>

<div class="window equipment-window game-window {{ equipmentSize }}"
     [ng2-draggable]="true"
     [ng2DraggableHandle]="equipmentWindow"
     windowName="equipmentWindow"
     defaultX="962"
     defaultY="65"
     *ngIf="inGame && showEquipment">
  <div class="window-header text-center" #equipmentWindow>
    Equipment
    <app-close-button (click)="showEquipment = false"></app-close-button>
  </div>
  <div class="window-body">
    <app-equipment [player]="colyseus.game.character" [size]="equipmentSize"></app-equipment>
  </div>
</div>

<div class="window npc-window game-window"
     [ng2-draggable]="true"
     [ng2DraggableHandle]="npcWindow"
     windowName="npcWindow"
     defaultX="962"
     defaultY="65"
     *ngIf="inGame">
  <div class="window-header text-center" #npcWindow>
    NPCs
  </div>
  <div class="window-body">
    <app-npcs></app-npcs>
  </div>
</div>

<div class="modal fade" bsModal #options="bs-modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title pull-left">Options</h3>
        <button type="button" class="close pull-right" (click)="options.hide()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col text-center"><h4>UI Window Sizes</h4></div>
        </div>

        <div class="row">
          <div class="col-3 text-right font-weight-bold">Sack Icons</div>
          <div class="col">
            <div class="btn-group">
              <label class="btn btn-info" [(ngModel)]="sackSize" btnRadio="normal">Normal</label>
              <label class="btn btn-info" [(ngModel)]="sackSize" btnRadio="small">Small</label>
              <label class="btn btn-info" [(ngModel)]="sackSize" btnRadio="xsmall">Miniature</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-3 text-right font-weight-bold">Belt Icons</div>
          <div class="col">
            <div class="btn-group">
              <label class="btn btn-info" [(ngModel)]="beltSize" btnRadio="normal">Normal</label>
              <label class="btn btn-info" [(ngModel)]="beltSize" btnRadio="small">Small</label>
              <label class="btn btn-info" [(ngModel)]="beltSize" btnRadio="xsmall">Miniature</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-3 text-right font-weight-bold">Equipment Icons</div>
          <div class="col">
            <div class="btn-group">
              <label class="btn btn-info" [(ngModel)]="equipmentSize" btnRadio="normal">Normal</label>
              <label class="btn btn-info" [(ngModel)]="equipmentSize" btnRadio="small">Small</label>
              <label class="btn btn-info" [(ngModel)]="equipmentSize" btnRadio="xsmall">Miniature</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-3 text-right font-weight-bold">Ground Icons</div>
          <div class="col">
            <div class="btn-group">
              <label class="btn btn-info" [(ngModel)]="groundSize" btnRadio="normal">Normal</label>
              <label class="btn btn-info" [(ngModel)]="groundSize" btnRadio="small">Small</label>
              <label class="btn btn-info" [(ngModel)]="groundSize" btnRadio="xsmall">Miniature</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-3 text-right font-weight-bold">Log Font Size</div>
          <div class="col">
            <div class="btn-group">
              <label class="btn btn-info" [(ngModel)]="logFontSize" btnRadio="xlarge">Gigantic</label>
              <label class="btn btn-info" [(ngModel)]="logFontSize" btnRadio="large">Large</label>
              <label class="btn btn-info" [(ngModel)]="logFontSize" btnRadio="normal">Normal</label>
              <label class="btn btn-info" [(ngModel)]="logFontSize" btnRadio="small">Small</label>
              <label class="btn btn-info" [(ngModel)]="logFontSize" btnRadio="xsmall">Miniature</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-3 text-right font-weight-bold">Log Window Size</div>
          <div class="col">
            <div class="btn-group">
              <label class="btn btn-info" [(ngModel)]="logWindowSize" btnRadio="xlarge">Gigantic</label>
              <label class="btn btn-info" [(ngModel)]="logWindowSize" btnRadio="large">Large</label>
              <label class="btn btn-info" [(ngModel)]="logWindowSize" btnRadio="normal">Normal</label>
              <label class="btn btn-info" [(ngModel)]="logWindowSize" btnRadio="small">Small</label>
              <label class="btn btn-info" [(ngModel)]="logWindowSize" btnRadio="xsmall">Miniature</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col text-center"><h4>UI Options</h4></div>
        </div>

        <div class="row">
          <div class="col-3 text-right font-weight-bold">Theme</div>
          <div class="col form-check">
            <select class="form-control" [(ngModel)]="theme" disabled>
              <option [value]="'Light'">Light</option>
              <option [value]="'Dark'">Dark</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col offset-3 form-check">
            <label class="form-check-label" for="rightClickSend">
              <input type="checkbox" class="form-check-input" [(ngModel)]="rightClickSend" id="rightClickSend" />
              Right-click to send command line
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col offset-3 form-check">
            <label class="form-check-label" for="autoHideLobby">
              <input type="checkbox" class="form-check-input" [(ngModel)]="autoHideLobby" id="autoHideLobby" />
              Hide lobby while game is open
            </label>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
