
@import 'app.component.windows';

.macro-sheet-macro {
  margin: 1px;

  &:not(.active-macro) {
    margin: 2px;
  }
}

.active-macro {
  outline: 2px solid #000;
  border: 1px solid #fff;
}

.macro-list-body {
  max-height: 570px;
  overflow-y: auto;
}

.activate-inner-on-hover {
  .show-on-hover {
    display: none;
  }

  &:hover .show-on-hover {
    display: block;
  }
}

.connection-warning {
  height: 50px;
}

.bottom-subscriber-reminder {
  color: #fff;
  position: absolute;
  bottom: 20px;
  width: 75%;
  left: 12.5%;
  text-align: center;
}

.silver-modal {
  max-width: 80%;

  .top-container {
    text-align: center;
  }

  .icon-container {
    border-radius: 15%;
    overflow: hidden;
    max-width: 48px;
  }
}
