
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <a class="navbar-brand" href="#">
    <span>Land of the Rair</span>
    <span *ngIf="colyseus.lobby.myAccount">- {{ colyseus.lobby.myAccount.username }}</span>
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="colyseus.lobby.myAccount" dropdown container="body">
        <a class="nav-link" href="#" dropdownToggle>Game {{ colyseus.isConnected ? '' : '(Disconnected)' }}</a>

        <ul *dropdownMenu class="dropdown-menu">
          <li>
            <a class="dropdown-item" (click)="colyseus.lobby.logout()">Logout</a>
          </li>
        </ul>

      </li>
    </ul>

    <ul class="navbar-nav" *ngIf="inGame">
      <li class="nav-item" *ngIf="colyseus.lobby.myAccount" dropdown container="body">
        <a class="nav-link" href="#" dropdownToggle>Windows</a>

        <ul *dropdownMenu class="dropdown-menu">
          <li>
            <a class="dropdown-item" (click)="showStatsWindow = !showStatsWindow">Stats</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="showSkillsWindow = !showSkillsWindow">Skills</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="showCommandLine = !showCommandLine">Command Line</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="showInventoryBelt = !showInventoryBelt">Belt</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="showInventorySack = !showInventorySack">Sack</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="showEquipment = !showEquipment">Equipment</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="options.show()">Options</a>
          </li>
        </ul>

      </li>
    </ul>

    <ul class="navbar-nav mr-auto" *ngIf="inGame">
      <li class="nav-item" *ngIf="colyseus.lobby.myAccount" dropdown container="body">
        <a class="nav-link" href="#" dropdownToggle>Macros</a>

        <ul *dropdownMenu class="dropdown-menu">
          <li>
            <a class="dropdown-item" (click)="macros.show()">Macros</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="macroGroups.show()">Macro Groups</a>
          </li>
        </ul>

      </li>
    </ul>
  </div>
</nav>

<div class="window lobby game-window"
     [ng2-draggable]="true"
     [ng2DraggableHandle]="lobbyDrag"
     windowName="lobby"
     defaultX="576"
     defaultY="55"
     [class.minimized]="minimized['lobby']"
     [class.hidden]="!loggedIn || !colyseus.username || (inGame && autoHideLobby)">
  <div class="window-header text-center" #lobbyDrag>
    Lobby Chat ({{ colyseus.lobby.lobbyState.accounts.length }} Online)
    <app-minimize-button (click)="minimize('lobby')"></app-minimize-button>
  </div>
  <div class="window-body" [class.hidden]="minimized['lobby']">
    <app-lobby [lobbyState]="colyseus.lobby.lobbyState"></app-lobby>
  </div>
</div>

<div class="window character-select"
     [ng2-draggable]="true"
     [ng2DraggableHandle]="characterSelectDrag"
     windowName="chararacterSelect"
     defaultX="0"
     defaultY="55"
     [class.hidden]="!loggedIn || inGame || !colyseus.username">
  <div class="window-header text-center" #characterSelectDrag>Character Select</div>
  <div class="window-body">
    <app-character-select [lobbyState]="colyseus.lobby.lobbyState"></app-character-select>
  </div>
</div>

<div class="window map"
     [ng2-draggable]="true"
     [ng2DraggableHandle]="mapDrag"
     windowName="map"
     defaultX="389"
     defaultY="56"
     *ngIf="inGame">
  <div class="window-header text-center" #mapDrag>
    World
    <app-close-button (click)="colyseus.game.quit()"></app-close-button>
  </div>
  <div class="window-body">
    <app-map [clientGameState]="colyseus.game.clientGameState" [currentPlayer]="colyseus.game.character" *ngIf="!colyseus.game.isChangingMap"></app-map>
  </div>
</div>

<div class="window stats above-game-window"
     [ng2-draggable]="true"
     [ng2DraggableHandle]="statsDrag"
     windowName="stats"
     defaultX="670"
     defaultY="120"
     *ngIf="inGame && showStatsWindow">
  <div class="window-header text-center" #statsDrag>
    Stats
    <app-close-button (click)="showStatsWindow = false"></app-close-button>
  </div>
  <div class="window-body">
    <app-stats-window [currentPlayer]="colyseus.game.character"></app-stats-window>
  </div>
</div>

<div class="window skills above-game-window"
     [ng2-draggable]="true"
     [ng2DraggableHandle]="skillsDrag"
     windowName="skills"
     defaultX="670"
     defaultY="120"
     *ngIf="inGame && showSkillsWindow">
  <div class="window-header text-center" #skillsDrag>
    Stats
    <app-close-button (click)="showSkillsWindow = false"></app-close-button>
  </div>
  <div class="window-body">
    <app-skills-window [currentPlayer]="colyseus.game.character"></app-skills-window>
  </div>
</div>

<div class="window command-line game-window"
     [ng2-draggable]="true"
     [ng2DraggableHandle]="commandLine"
     windowName="commandLine"
     defaultX="389"
     defaultY="848"
     *ngIf="inGame && showCommandLine">
  <div class="window-header text-center" #commandLine>
    Command Line
    <app-close-button (click)="showCommandLine = false"></app-close-button>
  </div>
  <div class="window-body">
    <app-command-line [rightClickSend]="rightClickSend"></app-command-line>
  </div>
</div>

<div class="window log-window game-window"
     [ngClass]="[logWindowSize]"
     [ng2-draggable]="true"
     [ng2DraggableHandle]="logWindow"
     windowName="logWindow"
     defaultX="3"
     defaultY="365"
     *ngIf="inGame">
  <div class="window-header text-center" #logWindow>
    Log
  </div>
  <div class="window-body">
    <app-log-window [clientGameState]="colyseus.game.clientGameState" [windowSize]="logWindowSize" [fontSize]="logFontSize"></app-log-window>
  </div>
</div>

<div class="window status-window game-window"
     [ng2-draggable]="true"
     [ng2DraggableHandle]="statusWindow"
     windowName="statusWindow"
     defaultX="389"
     defaultY="743"
     [class.minimized]="minimized['status']"
     *ngIf="inGame">
  <div class="window-header text-center" #statusWindow>
    <app-character-tagline [player]="colyseus.game.character"></app-character-tagline>
    <app-minimize-button (click)="minimize('status')"></app-minimize-button>
  </div>
  <div class="window-body" [class.hidden]="minimized['status']">
    <app-status-window [player]="colyseus.game.character"></app-status-window>
  </div>
</div>

<div class="window ground-window game-window"
     [ngClass]="[groundSize]"
     [ng2-draggable]="true"
     [ng2DraggableHandle]="groundWindow"
     windowName="groundWindow"
     defaultX="3"
     defaultY="619"
     *ngIf="inGame && colyseus.game.showGround">
  <div class="window-header text-center" #groundWindow>
    Ground
    <app-close-button (click)="colyseus.game.showGround = false"></app-close-button>
  </div>
  <div class="window-body">
    <app-ground [size]="groundSize"></app-ground>
  </div>
</div>

<div class="window inventory-sack-window game-window"
     [ngClass]="[sackSize]"
     [ng2-draggable]="true"
     [ng2DraggableHandle]="sackWindow"
     windowName="sackWindow"
     defaultX="966"
     defaultY="538"
     *ngIf="inGame && showInventorySack">
  <div class="window-header text-center" #sackWindow>
    Inventory - Sack
    <app-close-button (click)="showInventorySack = false"></app-close-button>
  </div>
  <div class="window-body">
    <app-inventory-sack [size]="sackSize" [player]="colyseus.game.character"></app-inventory-sack>
  </div>
</div>

<div class="window inventory-belt-window game-window"
     [ngClass]="[beltSize]"
     [ng2-draggable]="true"
     [ng2DraggableHandle]="beltWindow"
     windowName="beltWindow"
     defaultX="966"
     defaultY="433"
     *ngIf="inGame && showInventoryBelt">
  <div class="window-header text-center" #beltWindow>
    Inventory - Belt
    <app-close-button (click)="showInventoryBelt = false"></app-close-button>
  </div>
  <div class="window-body">
    <app-inventory-belt [size]="beltSize" [player]="colyseus.game.character"></app-inventory-belt>
  </div>
</div>

<div class="window equipment-window game-window"
     [ngClass]="[equipmentSize]"
     [ng2-draggable]="true"
     [ng2DraggableHandle]="equipmentWindow"
     windowName="equipmentWindow"
     defaultX="966"
     defaultY="56"
     *ngIf="inGame && showEquipment">
  <div class="window-header text-center" #equipmentWindow>
    Equipment
    <app-close-button (click)="showEquipment = false"></app-close-button>
  </div>
  <div class="window-body">
    <app-equipment [player]="colyseus.game.character" [size]="equipmentSize"></app-equipment>
  </div>
</div>

<div class="window npc-window game-window"
     [ngClass]="[npcWindowSize]"
     [ng2-draggable]="true"
     [ng2DraggableHandle]="npcWindow"
     windowName="npcWindow"
     defaultX="3"
     defaultY="56"
     *ngIf="inGame">
  <div class="window-header text-center" #npcWindow>
    NPCs
  </div>
  <div class="window-body">
    <app-npcs></app-npcs>
  </div>
</div>

<div class="window macro-bars game-window"
     [ng2-draggable]="true"
     [ng2DraggableHandle]="macroBars"
     windowName="macroBars"
     defaultX="389"
     defaultY="661"
     *ngIf="inGame && showCommandLine">
  <div class="window-header text-center" #macroBars>
    Macros
  </div>
  <div class="window-body">
    <app-macro-bars></app-macro-bars>
  </div>
</div>

<div class="modal fade" bsModal #options="bs-modal" tabindex="-1" (onShow)="optionsModalVisible = true" (onHide)="optionsModalVisible = false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title pull-left">Options</h3>
        <button type="button" class="close pull-right" (click)="options.hide()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="optionsModalVisible">
        <div class="row">
          <div class="col text-center"><h4>UI Window Sizes</h4></div>
        </div>

        <div class="row">
          <div class="col-3 text-right font-weight-bold">Sack Icons</div>
          <div class="col">
            <div class="btn-group">
              <label class="btn btn-info" [(ngModel)]="sackSize" btnRadio="normal">Normal</label>
              <label class="btn btn-info" [(ngModel)]="sackSize" btnRadio="small">Small</label>
              <label class="btn btn-info" [(ngModel)]="sackSize" btnRadio="xsmall">Miniature</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-3 text-right font-weight-bold">Belt Icons</div>
          <div class="col">
            <div class="btn-group">
              <label class="btn btn-info" [(ngModel)]="beltSize" btnRadio="normal">Normal</label>
              <label class="btn btn-info" [(ngModel)]="beltSize" btnRadio="small">Small</label>
              <label class="btn btn-info" [(ngModel)]="beltSize" btnRadio="xsmall">Miniature</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-3 text-right font-weight-bold">Equipment Icons</div>
          <div class="col">
            <div class="btn-group">
              <label class="btn btn-info" [(ngModel)]="equipmentSize" btnRadio="normal">Normal</label>
              <label class="btn btn-info" [(ngModel)]="equipmentSize" btnRadio="small">Small</label>
              <label class="btn btn-info" [(ngModel)]="equipmentSize" btnRadio="xsmall">Miniature</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-3 text-right font-weight-bold">Ground Icons</div>
          <div class="col">
            <div class="btn-group">
              <label class="btn btn-info" [(ngModel)]="groundSize" btnRadio="normal">Normal</label>
              <label class="btn btn-info" [(ngModel)]="groundSize" btnRadio="small">Small</label>
              <label class="btn btn-info" [(ngModel)]="groundSize" btnRadio="xsmall">Miniature</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-3 text-right font-weight-bold">Log Font Size</div>
          <div class="col">
            <div class="btn-group">
              <label class="btn btn-info" [(ngModel)]="logFontSize" btnRadio="xlarge">Gigantic</label>
              <label class="btn btn-info" [(ngModel)]="logFontSize" btnRadio="large">Large</label>
              <label class="btn btn-info" [(ngModel)]="logFontSize" btnRadio="normal">Normal</label>
              <label class="btn btn-info" [(ngModel)]="logFontSize" btnRadio="small">Small</label>
              <label class="btn btn-info" [(ngModel)]="logFontSize" btnRadio="xsmall">Miniature</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-3 text-right font-weight-bold">Log Window Size</div>
          <div class="col">
            <div class="btn-group">
              <label class="btn btn-info" [(ngModel)]="logWindowSize" btnRadio="max">Max</label>
              <label class="btn btn-info" [(ngModel)]="logWindowSize" btnRadio="xlarge">Gigantic</label>
              <label class="btn btn-info" [(ngModel)]="logWindowSize" btnRadio="large">Large</label>
              <label class="btn btn-info" [(ngModel)]="logWindowSize" btnRadio="normal">Normal</label>
              <label class="btn btn-info" [(ngModel)]="logWindowSize" btnRadio="small">Small</label>
              <label class="btn btn-info" [(ngModel)]="logWindowSize" btnRadio="xsmall">Miniature</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-3 text-right font-weight-bold">NPC Window Size</div>
          <div class="col">
            <div class="btn-group">
              <label class="btn btn-info" [(ngModel)]="npcWindowSize" btnRadio="max">Max</label>
              <label class="btn btn-info" [(ngModel)]="npcWindowSize" btnRadio="xlarge">Gigantic</label>
              <label class="btn btn-info" [(ngModel)]="npcWindowSize" btnRadio="large">Large</label>
              <label class="btn btn-info" [(ngModel)]="npcWindowSize" btnRadio="normal">Normal</label>
              <label class="btn btn-info" [(ngModel)]="npcWindowSize" btnRadio="small">Small</label>
              <label class="btn btn-info" [(ngModel)]="npcWindowSize" btnRadio="xsmall">Miniature</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col text-center"><h4>UI Options</h4></div>
        </div>

        <div class="row mb-1">
          <div class="col-3 text-right font-weight-bold">Active Macros</div>
          <div class="col-3">
            <select class="form-control" [(ngModel)]="macroService.visibleMacroGroups[0]" (change)="macroService.saveMacros()">
              <option *ngFor="let macroGroup of macroService.allMacroGroupNames()" [value]="macroGroup">{{ macroGroup }}</option>
            </select>
          </div>
          <div class="col-3">
            <select class="form-control" [(ngModel)]="macroService.visibleMacroGroups[1]" (change)="macroService.saveMacros()">
              <option [value]="null">None</option>
              <option *ngFor="let macroGroup of macroService.allMacroGroupNames()" [value]="macroGroup">{{ macroGroup }}</option>
            </select>
          </div>
          <div class="col-3">
            <select class="form-control" [(ngModel)]="macroService.visibleMacroGroups[2]" (change)="macroService.saveMacros()">
              <option [value]="null">None</option>
              <option *ngFor="let macroGroup of macroService.allMacroGroupNames()" [value]="macroGroup">{{ macroGroup }}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-3 text-right font-weight-bold">Theme</div>
          <div class="col form-check">
            <select class="form-control" [(ngModel)]="theme" disabled>
              <option [value]="'Light'">Light</option>
              <option [value]="'Dark'">Dark</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col offset-3 form-check">
            <label class="form-check-label" for="rightClickSend">
              <input type="checkbox" class="form-check-input" [(ngModel)]="rightClickSend" id="rightClickSend" />
              Right-click to send command line
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col offset-3 form-check">
            <label class="form-check-label" for="autoHideLobby">
              <input type="checkbox" class="form-check-input" [(ngModel)]="autoHideLobby" id="autoHideLobby" />
              Hide lobby while game is open
            </label>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #macros="bs-modal" tabindex="-1" (onShow)="macroModalVisible = true" (onHide)="macroModalVisible = false">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title pull-left">All Macros</h3>
        <button type="button" class="close pull-right" (click)="macros.hide()">
          <span>&times;</span>
        </button>
      </div>

      <div class="modal-body macro-list-body" *ngIf="macroService.hasLoaded && macroModalVisible">
        <div class="row mb-1" *ngFor="let macro of macroService.allMacroNames()">
          <div class="col-2">
            <app-icon [name]="macroService.allMacros[macro].icon"
                      [bgColor]="macroService.allMacros[macro].background || '#ccc'"
                      [fgColor]="macroService.allMacros[macro].foreground"
                      size="small"></app-icon>
          </div>
          <div class="col-6">
            {{ macro }}
          </div>
          <div class="col-4">
            <button class="btn btn-info btn-sm"
                    *ngIf="!macroService.allMacros[macro].isSystem" (click)="editMacro(macroService.allMacros[macro])">Edit</button>
            <button class="btn btn-danger btn-sm"
                    *ngIf="!macroService.allMacros[macro].isSystem" (click)="deleteMacro(macroService.allMacros[macro])">Remove</button>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addMacro()">New Macro</button>
        <button type="button" class="btn btn-secondary" (click)="macros.hide()">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #viewMacro="bs-modal" tabindex="-1" (onShow)="macroEditModalVisible = true" (onHide)="macroEditModalVisible = false">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title pull-left">Edit Macro</h3>
        <button type="button" class="close pull-right" (click)="viewMacro.hide()">
          <span>&times;</span>
        </button>
      </div>

      <div class="modal-body" *ngIf="macroEditModalVisible">

        <div class="row mb-1">
          <div class="col-3 text-right font-weight-bold">Name</div>
          <div class="col-9">
            <input class="form-control" [(ngModel)]="currentlyEditingMacro.name" placeholder="Enter your macro name" />
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-3 text-right font-weight-bold">Macro</div>
          <div class="col-9">
            <textarea class="form-control" rows="3" [(ngModel)]="currentlyEditingMacro.macro" placeholder="Enter your macro command. Separate multiple commands with semicolons"></textarea>
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-3 text-right font-weight-bold">Key</div>
          <div class="col-3">
            <input class="form-control" [(ngModel)]="currentlyEditingMacro.key" (keydown)="setMacroKey($event)" placeholder="Press Key" />
          </div>
          <div class="col-2">
            <button class="btn"
                    [class.btn-secondary]="!currentlyEditingMacro.modifiers.shift"
                    [class.btn-success]="currentlyEditingMacro.modifiers.shift"
                    btnCheckbox
                    [(ngModel)]="currentlyEditingMacro.modifiers.shift">Shift</button>
          </div>
          <div class="col-2">
            <button class="btn"
                    [class.btn-secondary]="!currentlyEditingMacro.modifiers.ctrl"
                    [class.btn-success]="currentlyEditingMacro.modifiers.ctrl"
                    btnCheckbox
                    [(ngModel)]="currentlyEditingMacro.modifiers.ctrl">Ctrl</button>
          </div>
          <div class="col-2">
            <button class="btn"
                    [class.btn-secondary]="!currentlyEditingMacro.modifiers.alt"
                    [class.btn-success]="currentlyEditingMacro.modifiers.alt"
                    btnCheckbox
                    [(ngModel)]="currentlyEditingMacro.modifiers.alt">Alt</button>
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-3 text-right font-weight-bold">Mode</div>
          <div class="col-9">
            <button class="btn"
                    [class.btn-secondary]="!currentlyEditingMacro.clickToTarget"
                    [class.btn-success]="currentlyEditingMacro.clickToTarget"
                    (click)="changeMacroMode('clickToTarget')"
                    tooltip="Clicking this macro will let you click an npc target"
            >Need Target</button>
            <button class="btn"
                    [class.btn-secondary]="!currentlyEditingMacro.autoActivate"
                    [class.btn-success]="currentlyEditingMacro.autoActivate"
                    (click)="changeMacroMode('autoActivate')"
                    tooltip="Clicking this macro will fire it instantly"
            >Instant</button>
            <button class="btn"
                    [class.btn-secondary]="!currentlyEditingMacro.lockActivation"
                    [class.btn-success]="currentlyEditingMacro.lockActivation"
                    (click)="changeMacroMode('lockActivation')"
                    tooltip="Clicking this macro will make it your default click action (similar to Attack)"
            >Locked</button>
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-3 text-right font-weight-bold">FG Color</div>
          <div class="col-3">
            <input class="form-control"
                   cpPosition="bottom"
                   cpAlphaChannel="disabled"
                   [(colorPicker)]="currentlyEditingMacro.foreground"
                   [style.background]="currentlyEditingMacro.foreground"
                   [value]="currentlyEditingMacro.foreground"/>
          </div>
          <div class="col-3 text-right font-weight-bold">BG Color</div>
          <div class="col-3">
            <input class="form-control"
                   cpPosition="bottom"
                   cpAlphaChannel="disabled"
                   [(colorPicker)]="currentlyEditingMacro.background"
                   [style.background]="currentlyEditingMacro.background"
                   [value]="currentlyEditingMacro.background"/>
          </div>
        </div>

        <div class="row">
          <div class="col-6 offset-6">
            <div class="row p-0">
              <div class="col-3">
                <button class="btn btn-info btn-sm" (click)="changePage(currentIconPage-1)">&lt;</button>
              </div>
              <div class="col-6 text-center">Page {{ currentIconPage+1 }}</div>
              <div class="col-3">
                <button class="btn btn-info btn-sm" (click)="changePage(currentIconPage+1)">&gt;</button>
              </div>
            </div>
            <div class="d-flex flex-wrap flex-row">
              <app-icon *ngFor="let icon of currentIconsInPage"
                        [name]="icon"
                        class="macro-sheet-macro"
                        [class.active-macro]="icon === currentlyEditingMacro.icon"
                        size="small"
                        (click)="currentlyEditingMacro.icon = icon"
                        [fgColor]="currentlyEditingMacro.foreground"
                        [bgColor]="currentlyEditingMacro.background"></app-icon>
            </div>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveMacro()">Save Macro</button>
        <button type="button" class="btn btn-secondary" (click)="viewMacro.hide()">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #macroGroups="bs-modal" tabindex="-1" (onShow)="macroGroupModalVisible = true" (onHide)="macroGroupModalVisible = false">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title pull-left">All Macro Groups</h3>
        <button type="button" class="close pull-right" (click)="macroGroups.hide()">
          <span>&times;</span>
        </button>
      </div>

      <div class="modal-body macro-list-body" *ngIf="macroService.hasLoaded && macroGroupModalVisible">
        <div class="row">
          <div class="col-6">
            <ul class="nav nav-pills flex-column">
              <li class="nav-item" *ngFor="let macroGroup of macroService.allMacroGroupNames()">
                <a class="nav-link" (click)="currentMacroGroup = macroGroup" [class.active]="currentMacroGroup === macroGroup">{{ macroGroup }}</a>
              </li>
            </ul>
          </div>
          <div class="col-6">
            <div class="row mr-1" *ngFor="let macro of macroArray">
              <select [(ngModel)]="macroService.allMacroGroups[currentMacroGroup][macro]"
                      class="form-control"
                      (change)="macroService.saveMacros()"
                      placeholder="Select a macro">
                <option *ngFor="let macro of macroService.allUsableMacros" [value]="macro.name">{{ macro.name }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="removeMacroGroup()" *ngIf="currentMacroGroup !== 'default'">Remove Current Group</button>
        <button type="button" class="btn btn-primary" (click)="addMacroGroup()">New Macro Group</button>
        <button type="button" class="btn btn-secondary" (click)="macroGroups.hide()">Close</button>
      </div>
    </div>
  </div>
</div>
