<div class="p-1 item-container d-flex flex-wrap">

  <!-- top row (gold, helm, neck) -->
  <div class="item-slot item-background" droppable dropScope="coin" (onDrop)="colyseusGame.buildDropAction($event, 'Sack')">
    <app-item [size]="size" [item]="{ sprite: 212, value: player.gold, itemClass: 'Coin', desc: 'gold coins' }" showValue="true" context="Coin"></app-item>
  </div>

  <div class="item-slot item-background"
       droppable
       dropScope="ear"
       (onDrop)="colyseusGame.buildDropAction($event, 'Equipment')">
    <span class="item-slot-bg-text" *ngIf="!player.gear.Ear">Earring</span>
    <app-item [size]="size" [item]="player.gear.Ear" context="Equipment" *ngIf="player.gear.Ear" contextSlot="Ear"></app-item>
  </div>

  <div class="item-slot item-background"
       droppable
       dropScope="head"
       (onDrop)="colyseusGame.buildDropAction($event, 'Equipment')">
    <span class="item-slot-bg-text" *ngIf="!player.gear.Head">Helm</span>
    <app-item [size]="size" [item]="player.gear.Head" context="Equipment" *ngIf="player.gear.Head" contextSlot="Head"></app-item>
  </div>

  <div class="item-slot item-background"
       droppable
       dropScope="neck"
       (onDrop)="colyseusGame.buildDropAction($event, 'Equipment')">
    <span class="item-slot-bg-text" *ngIf="!player.gear.Neck">Amulet</span>
    <app-item [size]="size" [item]="player.gear.Neck" context="Equipment" *ngIf="player.gear.Neck" contextSlot="Neck"></app-item>
  </div>

  <div class="item-slot"></div>

  <!-- next row (sash, bracers) -->
  <div class="item-slot item-background"
       droppable
       dropScope="waist"
       (onDrop)="colyseusGame.buildDropAction($event, 'Equipment')">
    <span class="item-slot-bg-text" *ngIf="!player.gear.Waist">Sash</span>
    <app-item [size]="size" [item]="player.gear.Waist" context="Equipment" *ngIf="player.gear.Waist" contextSlot="Waist"></app-item>
  </div>

  <div class="item-slot"></div>
  <div class="item-slot"></div>
  <div class="item-slot"></div>

  <div class="item-slot item-background"
       droppable
       dropScope="wrists"
       (onDrop)="colyseusGame.buildDropAction($event, 'Equipment')">
    <span class="item-slot-bg-text" *ngIf="!player.gear.Wrists">Bracers</span>
    <app-item [size]="size" [item]="player.gear.Wrists" context="Equipment" *ngIf="player.gear.Wrists" contextSlot="Wrists"></app-item>
  </div>

  <!-- next row (ring, lefthand, righthand, ring) -->
  <div class="item-slot item-background"
       droppable
       dropScope="ring"
       (onDrop)="colyseusGame.buildDropAction($event, 'Equipment')">
    <span class="item-slot-bg-text" *ngIf="!player.gear.Ring1">Ring</span>
    <app-item [size]="size" [item]="player.gear.Ring1" context="Equipment" *ngIf="player.gear.Ring1" contextSlot="Ring1"></app-item>
  </div>

  <div class="item-slot item-background"
       droppable
       dropScope="right"
       (onDrop)="colyseusGame.buildDropAction($event, 'Right')">
    <span class="item-slot-bg-text" *ngIf="!player.rightHand">Right Hand</span>
    <app-item [size]="size"
              [item]="player.rightHand"
              [showOunces]="true"
              [showValue]="player.rightHand.itemClass === 'Coin'"
              context="Right"
              *ngIf="player.rightHand"></app-item>
  </div>

  <div class="item-slot"></div>

  <div class="item-slot item-background"
       droppable
       dropScope="left"
       (onDrop)="colyseusGame.buildDropAction($event, 'Left')">
    <span class="item-slot-bg-text" *ngIf="!player.leftHand">Left Hand</span>
    <app-item [size]="size"
              [item]="player.leftHand"
              [showValue]="player.leftHand.itemClass === 'Coin'"
              context="Left"
              [showOunces]="true"
              *ngIf="player.leftHand"></app-item>
  </div>

  <div class="item-slot item-background"
       droppable
       dropScope="ring"
       (onDrop)="colyseusGame.buildDropAction($event, 'Equipment')">
    <span class="item-slot-bg-text" *ngIf="!player.gear.Ring2">Ring</span>
    <app-item [size]="size" [item]="player.gear.Ring2" context="Equipment" *ngIf="player.gear.Ring2" contextSlot="Ring2"></app-item>
  </div>

  <!-- next row (gloves, boots) -->
  <div class="item-slot item-background"
       droppable
       dropScope="hands"
       (onDrop)="colyseusGame.buildDropAction($event, 'Equipment')">
    <span class="item-slot-bg-text" *ngIf="!player.gear.Hands">Gloves</span>
    <app-item [size]="size" [item]="player.gear.Hands" context="Equipment" *ngIf="player.gear.Hands" contextSlot="Hands"></app-item>
  </div>

  <div class="item-slot"></div>
  <div class="item-slot"></div>
  <div class="item-slot"></div>

  <div class="item-slot item-background"
       droppable
       dropScope="feet"
       (onDrop)="colyseusGame.buildDropAction($event, 'Equipment')">
    <span class="item-slot-bg-text" *ngIf="!player.gear.Feet">Boots</span>
    <app-item [size]="size" [item]="player.gear.Feet" context="Equipment" *ngIf="player.gear.Feet" contextSlot="Feet"></app-item>
  </div>

  <!-- last row (potion, armor, robe, robe) -->
  <div class="item-slot item-background"
       droppable
       dropScope="potion"
       (onDrop)="colyseusGame.buildDropAction($event, 'Potion')">
    <span class="item-slot-bg-text" *ngIf="!player.potionHand">Potion</span>
    <app-item [size]="size" [item]="player.potionHand" showOunces="true" context="Potion" *ngIf="player.potionHand"></app-item>
  </div>

  <div class="item-slot item-background"
       droppable
       [dropScope]="['armor', 'robe']"
       (onDrop)="colyseusGame.buildDropAction($event, 'Equipment')">
    <span class="item-slot-bg-text" *ngIf="!player.gear.Armor">Armor</span>
    <app-item [size]="size" [item]="player.gear.Armor" context="Equipment" *ngIf="player.gear.Armor" contextSlot="Armor"></app-item>
  </div>

  <div class="item-slot item-background"
       droppable
       dropScope="robe"
       (onDrop)="colyseusGame.buildDropAction($event, 'Equipment')">
    <span class="item-slot-bg-text" *ngIf="!player.gear.Robe1">Robe</span>
    <app-item [size]="size" [item]="player.gear.Robe1" context="Equipment" *ngIf="player.gear.Robe1" contextSlot="Robe1"></app-item>
  </div>

  <div class="item-slot item-background"
       droppable
       dropScope="robe"
       (onDrop)="colyseusGame.buildDropAction($event, 'Equipment')">
    <span class="item-slot-bg-text" *ngIf="!player.gear.Robe2">Robe</span>
    <app-item [size]="size" [item]="player.gear.Robe2" context="Equipment" *ngIf="player.gear.Robe2" contextSlot="Robe2"></app-item>
  </div>
  <div class="item-slot"></div>

</div>
