<div class="p-1 item-container d-flex flex-wrap">

  <!-- top row (gold, helm, neck) -->
  <div class="item-slot item-background">
    <app-item [item]="{ sprite: 212 }" [count]="player.gold" context="Equipment"></app-item>
  </div>
  <div class="item-slot item-background">

  </div>
  <div class="item-slot item-background">

  </div>
  <div class="item-slot"></div>

  <!-- next row (sash, bracers) -->
  <div class="item-slot item-background">

  </div>
  <div class="item-slot"></div>
  <div class="item-slot"></div>
  <div class="item-slot item-background">

  </div>

  <!-- next row (ring, lefthand, righthand, ring) -->
  <div class="item-slot item-background">

  </div>
  <div class="item-slot item-background">

  </div>
  <div class="item-slot item-background">

  </div>
  <div class="item-slot item-background">

  </div>

  <!-- next row (gloves, boots) -->
  <div class="item-slot item-background">

  </div>
  <div class="item-slot"></div>
  <div class="item-slot"></div>
  <div class="item-slot item-background">

  </div>

  <!-- last row (armor, robe, robe) -->
  <div class="item-slot item-background">

  </div>
  <div class="item-slot item-background">

  </div>
  <div class="item-slot item-background">

  </div>
  <div class="item-slot"></div>

</div>
