
.macro-container {
  margin: 3px;
  box-shadow: 0 0 2px 2px #ccc;

  user-select: none;

  min-width: 46px;
  max-width: 46px;

  border-radius: 3px;
  overflow: hidden;

  background-color: #ccc;

  &.has-macro:not(.disable-effects) {
    &.active {
      box-shadow: 1px 0 5px 3px #000;
    }

    &:active:not(.active) {
      box-shadow: 1px 0 5px 3px #000;
    }
  }
}
